Repository EMMC-ASBL/oteapi-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-strategies, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  language: python
  require_serial: true

pylint-strategies:
  name: pylint - oteapi/strategies/
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  - --disable=R,C
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  - --disable=C0415,W0621
  language: python
  require_serial: true

Test also "original" type for `update` method
  tests/models/test_genericconfig.py
Due: pylint-tests

Use Mapping in `AttrDict.update()` method
  oteapi/models/genericconfig.py
Due: pylint

Revert datacache `**options` parameter
  oteapi/datacache/datacache.py
Due: pylint

Update "ignore" statements (#103)
  .github/workflows/ci_tests.yml
  oteapi/datacache/datacache.py
  oteapi/models/mappingconfig.py
  oteapi/plugins/entry_points.py
  tests/datacache/test_datacache.py
Due: pylint, pylint-tests

Add test for AttrDict.update() method (#102)
  oteapi/models/genericconfig.py
  tests/models/test_genericconfig.py
Due: pylint, pylint-tests

Add section for developers concerning installation
  README.md
  docs/index.md
Due: none

Extend entry point documentation
  README.md
  docs/index.md
  tasks.py
Due: pylint

Remove unused import
  oteapi/plugins/entry_points.py
Due: pylint

Add badges
  README.md
  docs/index.md
Due: none

Update README (#106)
  README.md
  docs/index.md
  oteapi/plugins/entry_points.py
  tasks.py
Due: pylint

Fixed #107
  oteapi/strategies/filter/crop_filter.py
  oteapi/strategies/parse/image.py
  tests/strategies/filter/test_crop_filter.py
  tests/strategies/parse/test_image.py
Due: pylint-strategies, pylint-tests

Corrected download configuration
  oteapi/strategies/parse/image.py
Due: pylint-strategies

Test to explicit close handle to avoid failures on windows...
  oteapi/datacache/datacache.py
Due: pylint

Try if we can convince Pillow in windows to close the file it has opened...
  oteapi/strategies/parse/image.py
Due: pylint-strategies

Explicit close PIL image to avoid crashes on Windows
  oteapi/strategies/parse/image.py
Due: pylint-strategies

Simplify setting up download_config
  oteapi/strategies/parse/image.py
Due: pylint-strategies

Pydantic does not support typing.Annotated
  oteapi/models/mappingconfig.py
Due: pylint

Ensure that image info is json serialisable
  oteapi/strategies/parse/image.py
Due: pylint-strategies

Corrected the sql_query_filter.
  oteapi/strategies/filter/sql_query_filter.py
Due: pylint-strategies

Fixed failing tests
  oteapi/strategies/parse/image.py
Due: pylint-strategies

Added mapping strategy
  docs/api_reference/strategies/mapping/.pages
  docs/api_reference/strategies/mapping/mapping.md
  oteapi/models/mappingconfig.py
  oteapi/strategies/mapping/__init__.py
  oteapi/strategies/mapping/mapping.py
  setup.cfg
  tests/strategies/mapping/test_mapping.py
Due: pylint, pylint-strategies, pylint-tests

Corrected the sql_query_filter. (#110)
  oteapi/strategies/filter/sql_query_filter.py
Due: pylint-strategies

Apply suggestions from code review
  oteapi/strategies/parse/image.py
  tests/strategies/filter/test_crop_filter.py
  tests/strategies/parse/test_image.py
Due: pylint-strategies, pylint-tests

Added changes suggested by Casper
  oteapi/strategies/parse/image.py
  tests/strategies/parse/test_image.py
Due: pylint-strategies, pylint-tests

Suggested changes from Casper
  oteapi/models/mappingconfig.py
  oteapi/strategies/mapping/mapping.py
Due: pylint, pylint-strategies

Implemented #114
  oteapi/datacache/datacache.py
  tests/datacache/test_datacache.py
Due: pylint, pylint-tests

Fixed failing tests
  oteapi/strategies/mapping/__init__.py
  tests/strategies/mapping/test_mapping.py
Due: pylint-strategies, pylint-tests

Added change by black
  oteapi/datacache/datacache.py
Due: pylint

Added missing docstring
  tests/datacache/test_datacache.py
Due: pylint-tests

Apply suggestions from code review
  oteapi/strategies/parse/image.py
Due: pylint-strategies

Added try-finally statements asked for by Casper
  tests/strategies/filter/test_crop_filter.py
  tests/strategies/parse/test_image.py
Due: pylint-tests

Fixed failing mypy test.
  oteapi/strategies/parse/image.py
Due: pylint-strategies

Fixed the last two points by Casper
  oteapi/strategies/parse/image.py
Due: pylint-strategies

Apply suggestions from code review
  oteapi/models/mappingconfig.py
  oteapi/strategies/mapping/__init__.py
  oteapi/strategies/mapping/mapping.py
Due: pylint, pylint-strategies

Applied suggestions by Casper
  oteapi/models/mappingconfig.py
  oteapi/strategies/mapping/mapping.py
  tests/strategies/mapping/test_mapping.py
Due: pylint, pylint-strategies, pylint-tests

Added default value to mappingType
  oteapi/models/mappingconfig.py
Due: pylint

Fixed failing test
  oteapi/strategies/parse/image.py
Due: pylint-strategies

Update oteapi/datacache/datacache.py
  oteapi/datacache/datacache.py
Due: pylint

Store image data in datacache instead of session (#108)
  oteapi/models/mappingconfig.py
  oteapi/strategies/filter/crop_filter.py
  oteapi/strategies/parse/image.py
  tests/strategies/filter/test_crop_filter.py
  tests/strategies/parse/test_image.py
Due: pylint, pylint-strategies, pylint-tests

Allow to bind the lifetime of datacache values to the lifetime of the session (#115)
  oteapi/datacache/datacache.py
  tests/datacache/test_datacache.py
Due: pylint, pylint-tests

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^(tests|oteapi/strategies)/.*$)
  pylint-strategies: any of: ^oteapi/strategies/.*$ and \.py$
  pylint-tests: any of: ^tests/.*$ and \.py$
