Repository EMMC-ASBL/oteapi-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-strategies, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  language: python
  require_serial: true

pylint-strategies:
  name: pylint - oteapi/strategies/
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  - --disable=R,C
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  - --disable=C0415,W0621
  language: python
  require_serial: true

Removed an unnessesary if-statement
  oteapi/datacache/datacache.py
Due: pylint

Added an option for supplying a json encoder
  oteapi/datacache/datacache.py
  tests/datacache/test_datacache.py
Due: pylint, pylint-tests

Fixed failure in test_file.py
  tests/datacache/test_datacache.py
  tests/strategies/download/test_file.py
Due: pylint-tests

Fixed test_file
  oteapi/strategies/download/file.py
  tests/strategies/download/test_file.py
Due: pylint-strategies, pylint-tests

Removed hack for paths
  tests/strategies/parse/test_application_json.py
Due: pylint-tests

Added workaround in strange behaviour of urllib.parse
  oteapi/strategies/download/file.py
Due: pylint-strategies

Reverted changes in file strategy and made mypy happy
  oteapi/strategies/download/file.py
  tests/strategies/download/test_file.py
  tests/strategies/parse/test_application_json.py
Due: pylint-strategies, pylint-tests

Added support for dumping numpy arrays to the datacache (#83)
  oteapi/datacache/datacache.py
  tests/datacache/test_datacache.py
  tests/strategies/download/test_file.py
Due: pylint, pylint-tests

Code readability
  oteapi/strategies/download/file.py
Due: pylint-strategies

Cast EntryPoint tuple to sorted list via set
  oteapi/plugins/entry_points.py
  tests/plugins/test_entry_points.py
Due: pylint, pylint-tests

Remove pragma: no cover comment from tests/ files
  tests/datacache/test_datacache.py
  tests/models/test_genericconfig.py
  tests/plugins/conftest.py
  tests/plugins/test_entry_points.py
  tests/plugins/test_entry_points_entrypointstrategy.py
  tests/plugins/test_factories.py
  tests/static/strategies/download.py
  tests/static/strategies/filter.py
  tests/static/strategies/function.py
  tests/static/strategies/mapping.py
  tests/static/strategies/parse.py
  tests/static/strategies/resource.py
  tests/static/strategies/transformation.py
Due: pylint-tests

Slightly minimize repo - remove a jp2 file
  tests/static/sample1.jp2
  tests/strategies/parse/test_image.py
Due: pylint-tests

EntryPoint duplicity (#87)
  oteapi/plugins/entry_points.py
  tests/datacache/test_datacache.py
  tests/models/test_genericconfig.py
  tests/plugins/conftest.py
  tests/plugins/test_entry_points.py
  tests/plugins/test_entry_points_entrypointstrategy.py
  tests/plugins/test_factories.py
  tests/static/strategies/download.py
  tests/static/strategies/filter.py
  tests/static/strategies/function.py
  tests/static/strategies/mapping.py
  tests/static/strategies/parse.py
  tests/static/strategies/resource.py
  tests/static/strategies/transformation.py
Due: pylint, pylint-tests

Return `--strict` to mkdocs build CI
  .github/workflows/ci_tests.yml
Due: none

Updated comment
  oteapi/strategies/download/file.py
Due: pylint-strategies

testing
  oteapi/strategies/download/file.py
Due: pylint-strategies

tests
  oteapi/strategies/download/file.py
Due: pylint-strategies

more debugging
  oteapi/strategies/download/file.py
Due: pylint-strategies

Cleanup
  oteapi/strategies/download/file.py
Due: pylint-strategies

Apply suggestions from code review
  oteapi/datacache/datacache.py
  oteapi/strategies/download/file.py
Due: pylint, pylint-strategies

Updated default value for datacache_config
  oteapi/strategies/download/file.py
Due: pylint-strategies

Fix typo
  oteapi/plugins/entry_points.py
Due: pylint

New utility function to convert uri to Path object
  docs/api_reference/utils/.pages
  docs/api_reference/utils/paths.md
  oteapi/strategies/download/file.py
  oteapi/utils/__init__.py
  oteapi/utils/paths.py
  tests/utils/test_paths.py
Due: pylint, pylint-strategies, pylint-tests

Update oteapi/strategies/download/file.py
  oteapi/strategies/download/file.py
Due: pylint-strategies

Made datacache accept AttrDict configuration (#70)
  oteapi/datacache/datacache.py
  oteapi/strategies/download/file.py
  oteapi/strategies/parse/excel_xlsx.py
Due: pylint, pylint-strategies

Update data cache invocation
  oteapi/strategies/download/https.py
  oteapi/strategies/download/sftp.py
  oteapi/strategies/parse/application_json.py
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/excel_xlsx.py
  oteapi/strategies/parse/image.py
  oteapi/strategies/parse/text_csv.py
  setup.cfg
Due: pylint-strategies

Fix SFTP download strategy test
  tests/strategies/download/test_sftp.py
Due: pylint-tests

Update data cache invocation (#94)
  oteapi/strategies/download/https.py
  oteapi/strategies/download/sftp.py
  oteapi/strategies/parse/application_json.py
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/excel_xlsx.py
  oteapi/strategies/parse/image.py
  oteapi/strategies/parse/text_csv.py
  setup.cfg
  tests/strategies/download/test_sftp.py
Due: pylint-strategies, pylint-tests

Use `ID!` type instead of `String!`
  .github/workflows/ci_automerge_dependabot.yml
Due: none

Use `ID!` type instead of `String!` (#97)
  .github/workflows/ci_automerge_dependabot.yml
Due: none

Update "ignore" statements
  oteapi/datacache/datacache.py
  oteapi/models/genericconfig.py
  oteapi/models/mappingconfig.py
  oteapi/plugins/entry_points.py
Due: pylint

Add test for AttrDict.update() method
  tests/models/test_genericconfig.py
Due: pylint-tests

Redo pylint disable statement and fix datacache test
  oteapi/models/genericconfig.py
  tests/datacache/test_datacache.py
Due: pylint, pylint-tests

Add type annotation for kwargs dict in doc-string
  oteapi/datacache/datacache.py
Due: pylint

Make pytest CI job neater and add extra steps
  .github/workflows/ci_tests.yml
  tests/datacache/test_datacache.py
Due: pylint-tests

Only install ghostscript for linux system
  .github/workflows/ci_tests.yml
Due: none

Try to install Ghostscript in Windows
  .github/workflows/ci_tests.yml
Due: none

Fix pytest job
  .github/workflows/ci_tests.yml
Due: none

Try to use `powershell` shell for install gs on win
  .github/workflows/ci_tests.yml
Due: none

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^(tests|oteapi/strategies)/.*$)
  pylint-strategies: any of: ^oteapi/strategies/.*$ and \.py$
  pylint-tests: any of: ^tests/.*$ and \.py$
