Repository EMMC-ASBL/oteapi-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-strategies, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^tests/static/.*$
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: requirements-txt-fixer
      name: Fix requirements*.txt
      files: ^requirements.*\.txt$
    - id: trailing-whitespace
      exclude: ^tests/static/.*$
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files", "--skip-gitignore"]

  - repo: https://github.com/ambv/black
    rev: 23.3.0
    hooks:
    - id: black

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^oteapi/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.1.1
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
      - "types-requests"
      - "pydantic"

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.3.0
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=oteapi
      - --full-docs-folder=models
    - id: docs-landing-page
      args:
      - --replacement=(LICENSE),(LICENSE.md)
      - --replacement=scheme`](oteapi/models/resourceconfig.py),scheme`][oteapi.models.resourceconfig.ResourceConfig.downloadUrl]
      - --replacement=mediaType`](oteapi/models/resourceconfig.py),mediaType`][oteapi.models.resourceconfig.ResourceConfig.mediaType]
      - --replacement=accessService`](oteapi/models/resourceconfig.py),accessService`][oteapi.models.resourceconfig.ResourceConfig.accessService]
      - --replacement=(oteapi/models/filterconfig.py),[oteapi.models.filterconfig.FilterConfig.filterType]
      - --replacement=(oteapi/models/functionconfig.py),[oteapi.models.functionconfig.FunctionConfig.functionType]
      - --replacement=(oteapi/models/mappingconfig.py),[oteapi.models.mappingconfig.MappingConfig.mappingType]
      - --replacement=(oteapi/models/transformationconfig.py),[oteapi.models.transformationconfig.TransformationConfig.transformationType]

  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      args: ["--rcfile=pyproject.toml", "--extension-pkg-whitelist='pydantic'"]
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^(tests|oteapi/strategies)/.*$
    - id: pylint-strategies
      name: pylint - oteapi/strategies/
      entry: pylint
      args: ["--rcfile=pyproject.toml", "--extension-pkg-whitelist='pydantic'", "--disable=R,C"]
      language: python
      types: [python]
      require_serial: true
      files: ^oteapi/strategies/.*$
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args: ["--rcfile=pyproject.toml", "--extension-pkg-whitelist='pydantic'", "--disable=C0415,W0621,import-error"]
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Print to see if fixture is run in Windows
  tests/strategies/transformation/test_celery_remote.py
Due: pylint-tests

Try using parenthesis
  tests/strategies/transformation/test_celery_remote.py
Due: pylint-tests

Test first if Windows is present, then if Docker is present
  tests/strategies/transformation/test_celery_remote.py
Due: pylint-tests

Redo the fixture - again
  tests/strategies/transformation/test_celery_remote.py
Due: pylint-tests

Use at min. mkdocs-material v9.5.5
  pyproject.toml
Due: none

Apply suggestions from code review
  pyproject.toml
Due: none

Auto-merge pre-commit ci PRs to upgrade hooks
  .github/workflows/ci_automerge_dependabot.yml
Due: none

Configure pre-commit.ci and stop running pre-commit from ci-cd
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
Due: none

Added test - work still in progress...
  docs/api_reference/utils/rdf.md
  tests/models/test_jsonld.py
Due: pylint-tests

Added rdf.py
  oteapi/utils/rdf.py
Due: pylint

Added dependenncy of rdflib
  pyproject.toml
Due: none

Ignore safety ID 70612
  .github/workflows/ci_tests.yml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update dev tools configurations
  pyproject.toml
Due: none

Extend CI testing for Python 3.11 and 3.12
  .github/workflows/ci_tests.yml
Due: none

Ensure a DeprecationWarning is only emitted for user calls
  oteapi/models/genericconfig.py
  tests/models/test_genericconfig.py
Due: pylint, pylint-tests

Ensure all files are closed when testing image parser
  oteapi/strategies/parse/image.py
  tests/strategies/parse/test_image.py
Due: pylint-strategies, pylint-tests

Remove unnecessary print statement
  tests/strategies/transformation/test_celery_remote.py
Due: pylint-tests

Use new entry_points API
  oteapi/plugins/entry_points.py
  pyproject.toml
  tests/conftest.py
  tests/plugins/conftest.py
  tests/plugins/test_entry_points.py
  tests/plugins/test_entry_points_entrypointstrategy.py
  tests/plugins/test_factories.py
Due: pylint, pylint-tests

Add color to the pytest output on GitHub Actions
  .github/workflows/ci_tests.yml
Due: none

Wrap all importlib.metadata imports
  oteapi/plugins/entry_points.py
  tests/conftest.py
  tests/plugins/conftest.py
  tests/plugins/test_entry_points.py
  tests/plugins/test_entry_points_entrypointstrategy.py
  tests/plugins/test_factories.py
Due: pylint, pylint-tests

Ignore warning from pysftp concerning hostkeys
  pyproject.toml
Due: none

Expect `EntryPoints` from `importlib.metadata` (#496)
  .github/workflows/ci_tests.yml
  oteapi/models/genericconfig.py
  oteapi/plugins/entry_points.py
  oteapi/strategies/parse/image.py
  pyproject.toml
  tests/conftest.py
  tests/models/test_genericconfig.py
  tests/plugins/conftest.py
  tests/plugins/test_entry_points.py
  tests/plugins/test_entry_points_entrypointstrategy.py
  tests/plugins/test_factories.py
  tests/strategies/parse/test_image.py
  tests/strategies/transformation/test_celery_remote.py
Due: pylint, pylint-strategies, pylint-tests

Fix pre-commit.ci default branch reference
  .pre-commit-config.yaml
Due: none

Move away from a permanent dependencies branch
  .github/dependabot.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_check_dependencies.yml
  .github/workflows/ci_dependabot.yml
Due: none

Update pyupgrade hook
  .pre-commit-config.yaml
Due: none

Fix documentation building
  docs/.pages
  mkdocs.yml
  oteapi/strategies/parse/application_json.py
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/image.py
  pyproject.toml
Due: pylint-strategies

Run pre-commit hooks
  tests/conftest.py
  tests/models/test_genericconfig.py
  tests/plugins/conftest.py
  tests/strategies/transformation/test_celery_remote.py
Due: pylint-tests

Update documentation configuration
  docs/.pages
  mkdocs.yml
Due: none

Add mkdocs-autoref dependency
  pyproject.toml
Due: none

Fix typo
  mkdocs.yml
  pyproject.toml
Due: none

Extend inputs for http/https download strategy
  oteapi/strategies/download/https.py
Due: pylint-strategies

Add information comment
  oteapi/strategies/download/https.py
Due: pylint-strategies

Other than warning, reset post_body and post_body_json
  oteapi/strategies/download/https.py
Due: pylint-strategies
