Repository EMMC-ASBL/oteapi-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-strategies, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --extension-pkg-whitelist='pydantic'
  language: python
  require_serial: true

pylint-strategies:
  name: pylint - oteapi/strategies/
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --extension-pkg-whitelist='pydantic'
  - --disable=R,C
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --extension-pkg-whitelist='pydantic'
  - --disable=C0415,W0621,import-error
  language: python
  require_serial: true

From code review by Thomas Hagelien
  oteapi/utils/paths.py
Due: pylint

updated docs
  docs/api_reference/strategies/download/file.md
  docs/api_reference/strategies/download/https.md
  docs/api_reference/strategies/download/sftp.md
  docs/api_reference/strategies/filter/crop_filter.md
  docs/api_reference/strategies/filter/sql_query_filter.md
  docs/api_reference/strategies/mapping/mapping.md
  docs/api_reference/strategies/parse/application_json.md
  docs/api_reference/strategies/parse/application_vnd_sqlite.md
  docs/api_reference/strategies/parse/excel_xlsx.md
  docs/api_reference/strategies/parse/image.md
  docs/api_reference/strategies/parse/postgres.md
  docs/api_reference/strategies/parse/text_csv.md
  docs/api_reference/strategies/transformation/celery_remote.md
Due: none

Introduce ParserConfig Model (#306)
  docs/api_reference/models/parserconfig.md
  docs/api_reference/strategies/download/file.md
  docs/api_reference/strategies/download/sftp.md
  docs/api_reference/strategies/filter/crop_filter.md
  docs/api_reference/strategies/filter/sql_query_filter.md
  docs/api_reference/strategies/mapping/mapping.md
  docs/api_reference/strategies/parse/application_json.md
  docs/api_reference/strategies/parse/application_vnd_sqlite.md
  docs/api_reference/strategies/parse/excel_xlsx.md
  docs/api_reference/strategies/parse/image.md
  docs/api_reference/strategies/parse/postgres.md
  docs/api_reference/strategies/parse/text_csv.md
  docs/api_reference/strategies/resource/postgres.md
  docs/api_reference/strategies/transformation/celery_remote.md
  docs/api_reference/utils/config_updater.md
  oteapi/interfaces/iparsestrategy.py
  oteapi/models/__init__.py
  oteapi/models/parserconfig.py
  oteapi/strategies/parse/excel_xlsx.py
  oteapi/strategies/parse/postgres.py
  oteapi/utils/config_updater.py
  setup.cfg
  tests/strategies/resource/test_postgres.py
  tests/utils/test_config_updater.py
Due: pylint, pylint-strategies, pylint-tests

Added support for relative file paths (#318)
  docs/api_reference/strategies/download/file.md
  docs/api_reference/strategies/download/https.md
  docs/api_reference/strategies/download/sftp.md
  docs/api_reference/strategies/filter/crop_filter.md
  docs/api_reference/strategies/filter/sql_query_filter.md
  docs/api_reference/strategies/mapping/mapping.md
  docs/api_reference/strategies/parse/application_json.md
  docs/api_reference/strategies/parse/application_vnd_sqlite.md
  docs/api_reference/strategies/parse/excel_xlsx.md
  docs/api_reference/strategies/parse/image.md
  docs/api_reference/strategies/parse/postgres.md
  docs/api_reference/strategies/parse/text_csv.md
  docs/api_reference/strategies/transformation/celery_remote.md
  oteapi/utils/paths.py
Due: pylint

Add strategies folders to CI/CD workflows docs update
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_tests.yml
Due: none

Return options to fully document strategies
  docs/api_reference/strategies/download/file.md
  docs/api_reference/strategies/download/https.md
  docs/api_reference/strategies/download/sftp.md
  docs/api_reference/strategies/filter/crop_filter.md
  docs/api_reference/strategies/filter/sql_query_filter.md
  docs/api_reference/strategies/mapping/mapping.md
  docs/api_reference/strategies/parse/application_json.md
  docs/api_reference/strategies/parse/application_vnd_sqlite.md
  docs/api_reference/strategies/parse/excel_xlsx.md
  docs/api_reference/strategies/parse/image.md
  docs/api_reference/strategies/parse/postgres.md
  docs/api_reference/strategies/parse/text_csv.md
  docs/api_reference/strategies/transformation/celery_remote.md
Due: none

Add strategies folders to CI/CD workflows docs update (#323)
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_tests.yml
  docs/api_reference/strategies/download/file.md
  docs/api_reference/strategies/download/https.md
  docs/api_reference/strategies/download/sftp.md
  docs/api_reference/strategies/filter/crop_filter.md
  docs/api_reference/strategies/filter/sql_query_filter.md
  docs/api_reference/strategies/mapping/mapping.md
  docs/api_reference/strategies/parse/application_json.md
  docs/api_reference/strategies/parse/application_vnd_sqlite.md
  docs/api_reference/strategies/parse/excel_xlsx.md
  docs/api_reference/strategies/parse/image.md
  docs/api_reference/strategies/parse/postgres.md
  docs/api_reference/strategies/parse/text_csv.md
  docs/api_reference/strategies/transformation/celery_remote.md
Due: none

Revert "Bump codecov/codecov-action from 3 to 4 (#325)"
  .github/workflows/ci_tests.yml
Due: none

Revert "Bump codecov/codecov-action from 3 to 4 (#325)" (#329)
  .github/workflows/ci_tests.yml
Due: none

TEMP: All pytests pass now
  .pre-commit-config.yaml
  oteapi/models/__init__.py
  oteapi/models/genericconfig.py
  oteapi/models/resourceconfig.py
  oteapi/models/secretconfig.py
  oteapi/models/triplestoreconfig.py
  oteapi/plugins/factories.py
  oteapi/settings.py
  oteapi/strategies/download/file.py
  oteapi/strategies/download/sftp.py
  oteapi/strategies/filter/crop_filter.py
  oteapi/strategies/filter/sql_query_filter.py
  oteapi/strategies/parse/application_json.py
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/excel_xlsx.py
  oteapi/strategies/parse/image.py
  oteapi/strategies/parse/postgres.py
  oteapi/strategies/parse/text_csv.py
  oteapi/strategies/transformation/celery_remote.py
  oteapi/utils/paths.py
  requirements.txt
  tests/models/test_functionconfig.py
  tests/models/test_genericconfig.py
  tests/models/test_secretconfig.py
  tests/models/test_triplestoreconfig.py
  tests/plugins/test_factories.py
  tests/strategies/download/test_https.py
  tests/strategies/parse/test_application_json.py
  tests/strategies/parse/test_postgres.py
  tests/strategies/parse/test_text_csv.py
Due: pylint, pylint-strategies, pylint-tests

Fix all tests, also the previously skipped
  tests/strategies/transformation/test_celery_remote.py
Due: pylint-tests

Fix code base according to dev tools
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
  oteapi/models/genericconfig.py
  oteapi/plugins/factories.py
  oteapi/strategies/download/https.py
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/postgres.py
  oteapi/strategies/transformation/celery_remote.py
  tests/models/test_genericconfig.py
Due: pylint, pylint-strategies, pylint-tests

Use ruff instead of pylint (still needs cleaning)
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
  pyproject.toml
  requirements_dev.txt
  tests/strategies/resource/test_postgres.py
Due: pylint-tests

Update codebase according to ruff
  oteapi/plugins/entry_points.py
  oteapi/plugins/factories.py
  oteapi/strategies/download/file.py
  oteapi/strategies/download/https.py
  oteapi/strategies/download/sftp.py
  oteapi/strategies/parse/application_json.py
  oteapi/strategies/parse/excel_xlsx.py
  oteapi/strategies/parse/image.py
  oteapi/strategies/parse/text_csv.py
  oteapi/triplestore/triplestore.py
  tests/conftest.py
  tests/strategies/parse/test_text_csv.py
Due: pylint, pylint-strategies, pylint-tests

Add redis to dev req and remove urllib3 upper bound
  requirements.txt
  requirements_dev.txt
Due: none

Move to use flit instead of setuptools
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
  MANIFEST.in
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  requirements_docs.txt
  setup.cfg
  setup.py
Due: pylint

Use and test building package with flit in CI
  .github/workflows/cd_release.yml
  .github/workflows/ci_tests.yml
Due: none

Add CI workflow to update dependencies in pyproject.toml
  .github/workflows/ci_check_dependencies.yml
Due: none

Extend codecov uploads with strategies-specific flag
  .codecov.yml
  .github/workflows/ci_tests.yml
  pyproject.toml
Due: none

Don't run pylint for non-existing root .py-files
  .github/workflows/ci_tests.yml
Due: none

Use proper value to --cov-report flag
  .github/workflows/ci_tests.yml
Due: none

Use flit instead of setuptools (#334)
  .github/workflows/cd_release.yml
  .github/workflows/ci_check_dependencies.yml
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
  MANIFEST.in
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  requirements_docs.txt
  setup.cfg
  setup.py
Due: pylint

Only support pydantic v2 in dependencies
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Import pydantic from a "local" internal module
  .github/workflows/ci_check_dependencies.yml
  .pre-commit-config.yaml
  oteapi/models/datacacheconfig.py
  oteapi/models/filterconfig.py
  oteapi/models/functionconfig.py
  oteapi/models/genericconfig.py
  oteapi/models/mappingconfig.py
  oteapi/models/parserconfig.py
  oteapi/models/resourceconfig.py
  oteapi/models/secretconfig.py
  oteapi/models/transformationconfig.py
  oteapi/models/triplestoreconfig.py
  oteapi/settings.py
  oteapi/strategies/download/file.py
  oteapi/strategies/download/https.py
  oteapi/strategies/download/sftp.py
  oteapi/strategies/filter/crop_filter.py
  oteapi/strategies/filter/sql_query_filter.py
  oteapi/strategies/mapping/mapping.py
  oteapi/strategies/parse/application_json.py
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/excel_xlsx.py
  oteapi/strategies/parse/image.py
  oteapi/strategies/parse/postgres.py
  oteapi/strategies/parse/text_csv.py
  oteapi/strategies/transformation/celery_remote.py
  oteapi/utils/_pydantic.py
  oteapi/utils/paths.py
  pyproject.toml
  tests/models/test_genericconfig.py
  tests/models/test_resourceconfig.py
  tests/static/strategies/download.py
  tests/static/strategies/filter.py
  tests/static/strategies/function.py
  tests/static/strategies/mapping.py
  tests/static/strategies/parse.py
  tests/static/strategies/resource.py
  tests/static/strategies/transformation.py
  tests/strategies/parse/test_text_csv.py
  tests/utils/test_paths.py
Due: pylint, pylint-strategies, pylint-tests

Extend codecov uploads with strategies-specific flag (#335)
  .codecov.yml
  .github/workflows/ci_tests.yml
  pyproject.toml
Due: none

Update _pydantic according to ruff and mypy
  oteapi/utils/_pydantic.py
Due: pylint

Add codecov config to exclusion list for sdist builds
  pyproject.toml
Due: none

Add ruff cache to gitignore and close connection
  .gitignore
  tests/strategies/transformation/test_celery_remote.py
Due: pylint-tests

Sort dependencies
  pyproject.toml
Due: none

Update pytest jobs in CI
  .codecov.yml
  .github/workflows/ci_tests.yml
Due: none

Successfully removed numpy dependency in parse.image
  oteapi/strategies/parse/image.py
  pyproject.toml
  tests/strategies/filter/test_crop_filter.py
  tests/strategies/parse/test_image.py
Due: pylint-strategies, pylint-tests

This should indeed not exist.
  docs/api_reference/utils/_pydantic.md
Due: none

Update CI/CD jobs building documentation
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_tests.yml
Due: none

Sort dependencies (#337)
  .codecov.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_tests.yml
  docs/api_reference/utils/_pydantic.md
  oteapi/strategies/parse/image.py
  pyproject.toml
  tests/strategies/filter/test_crop_filter.py
  tests/strategies/parse/test_image.py
Due: pylint-strategies, pylint-tests

Re-add reverted parts that shouldn't be reverted
  .gitignore
  pyproject.toml
  tests/strategies/transformation/test_celery_remote.py
Due: pylint-tests

Revert changes committed after related to this
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_tests.yml
Due: none

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^(tests|oteapi/strategies)/.*$)
  pylint-strategies: any of: ^oteapi/strategies/.*$ and \.py$
  pylint-tests: any of: ^tests/.*$ and \.py$
