Repository EMMC-ASBL/oteapi-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-strategies, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  language: python
  require_serial: true

pylint-strategies:
  name: pylint - oteapi/strategies/
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  - --disable=R,C
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  - --disable=C0415,W0621
  language: python
  require_serial: true

added a small clarification to the docs (#198)
  README.md
  docs/index.md
Due: none

add exposing of secrets
  docs/api_reference/models/secretconfig.md
  docs/api_reference/utils/json_encoders.md
  oteapi/models/functionconfig.py
  oteapi/models/resourceconfig.py
  oteapi/models/secretconfig.py
  oteapi/models/transformationconfig.py
  oteapi/models/triplestoreconfig.py
  oteapi/triplestore/triplestore.py
  oteapi/utils/json_encoders.py
  tests/models/test_functionconfig.py
  tests/models/test_secretconfig.py
Due: pylint, pylint-tests

add settings for exposing secrets during serialization
  docs/api_reference/settings.md
  docs/api_reference/utils/json_encoders.md
  oteapi/models/__init__.py
  oteapi/models/functionconfig.py
  oteapi/models/resourceconfig.py
  oteapi/models/secretconfig.py
  oteapi/models/transformationconfig.py
  oteapi/models/triplestoreconfig.py
  oteapi/settings.py
  oteapi/utils/json_encoders.py
  tests/models/test_functionconfig.py
  tests/models/test_secretconfig.py
Due: pylint, pylint-tests

update secretconfig, triplestoreconfig and add pytests
  oteapi/models/secretconfig.py
  oteapi/models/triplestoreconfig.py
  oteapi/settings.py
  tests/models/test_functionconfig.py
  tests/models/test_secretconfig.py
  tests/models/test_triplestoreconfig.py
Due: pylint, pylint-tests

add doc-strings
  tests/models/test_triplestoreconfig.py
Due: pylint-tests

Update oteapi/models/secretconfig.py
  oteapi/models/secretconfig.py
Due: pylint

Update oteapi/models/triplestoreconfig.py
  oteapi/models/triplestoreconfig.py
Due: pylint

Update tests/models/test_functionconfig.py
  tests/models/test_functionconfig.py
Due: pylint-tests

update settings-description
  oteapi/settings.py
Due: pylint

run pre-commit hooks
  oteapi/settings.py
Due: pylint

Apply suggestions from code review
  oteapi/models/secretconfig.py
  oteapi/settings.py
  tests/models/test_triplestoreconfig.py
Due: pylint, pylint-tests

add doc-string to Config of TriplestoreConfig, update typing-types
  oteapi/models/secretconfig.py
  oteapi/models/triplestoreconfig.py
  oteapi/settings.py
  tests/models/test_triplestoreconfig.py
Due: pylint, pylint-tests

changed TODO into notes, passes pylint and is more accurate as a comment
  tests/strategies/resource/test_postgres.py
Due: pylint-tests

renamed postgress regression and placed in new directory
  manual_regression/postgress_test.ipynb
Due: none

cleaned up documentation
  oteapi/strategies/resource/postgres.py
Due: pylint-strategies

made requirements more specific
  requirements.txt
Due: none

made Exceptions in postgres strategy more specific
  oteapi/strategies/resource/postgres.py
Due: pylint-strategies

Change SecretConfig base class & use class kwargs
  oteapi/models/functionconfig.py
  oteapi/models/resourceconfig.py
  oteapi/models/secretconfig.py
  oteapi/models/transformationconfig.py
  oteapi/models/triplestoreconfig.py
Due: pylint

Update oteapi/settings.py
  oteapi/settings.py
Due: pylint

Update tests/models/test_triplestoreconfig.py
  tests/models/test_triplestoreconfig.py
Due: pylint-tests

add json encoders for new secret config (#222)
  docs/api_reference/models/secretconfig.md
  docs/api_reference/settings.md
  oteapi/models/__init__.py
  oteapi/models/functionconfig.py
  oteapi/models/resourceconfig.py
  oteapi/models/secretconfig.py
  oteapi/models/transformationconfig.py
  oteapi/models/triplestoreconfig.py
  oteapi/settings.py
  oteapi/triplestore/triplestore.py
  tests/models/test_functionconfig.py
  tests/models/test_secretconfig.py
  tests/models/test_triplestoreconfig.py
Due: pylint, pylint-tests

Use version range for pre-commit for Py versions
  .pre-commit-config.yaml
  requirements_dev.txt
Due: none

Move pylint config file to pyproject.toml
  .pre-commit-config.yaml
  .pylintrc
  oteapi/datacache/datacache.py
  oteapi/models/resourceconfig.py
  oteapi/models/secretconfig.py
  oteapi/models/triplestoreconfig.py
  oteapi/plugins/entry_points.py
  oteapi/plugins/factories.py
  oteapi/settings.py
  oteapi/strategies/parse/image.py
  oteapi/triplestore/triplestore.py
  pyproject.toml
  tests/plugins/test_entry_points_entrypointstrategy.py
  tests/plugins/test_factories.py
Due: pylint, pylint-strategies, pylint-tests

Update CI job also
  .github/workflows/ci_tests.yml
Due: none

Update pylint to ~=2.16
  requirements_dev.txt
Due: none

Updated the interfaces and implementation of the transformation strategies to consolidate the run() and get() methods.
  README.md
  oteapi/interfaces/itransformationstrategy.py
  oteapi/strategies/transformation/celery_remote.py
  tests/static/strategies/transformation.py
Due: pylint, pylint-strategies, pylint-tests

Move pylint config file to pyproject.toml (#230)
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
  .pylintrc
  oteapi/datacache/datacache.py
  oteapi/models/resourceconfig.py
  oteapi/models/secretconfig.py
  oteapi/models/triplestoreconfig.py
  oteapi/plugins/entry_points.py
  oteapi/plugins/factories.py
  oteapi/settings.py
  oteapi/strategies/parse/image.py
  oteapi/triplestore/triplestore.py
  pyproject.toml
  requirements_dev.txt
  tests/plugins/test_entry_points_entrypointstrategy.py
  tests/plugins/test_factories.py
Due: pylint, pylint-strategies, pylint-tests

Updates from black
  README.md
  docs/index.md
  oteapi/strategies/transformation/celery_remote.py
Due: pylint-strategies

Updated README
  README.md
Due: none

Updated from «black»
  docs/index.md
Due: none

Update README.md
  README.md
Due: none

Update docs/index.md
  docs/index.md
Due: none

Updated the interfaces and implementation of the transformation strat… (#233)
  README.md
  docs/index.md
  oteapi/interfaces/itransformationstrategy.py
  oteapi/strategies/transformation/celery_remote.py
  tests/static/strategies/transformation.py
Due: pylint, pylint-strategies, pylint-tests

Add simple celery/remote strategy test
  oteapi/strategies/transformation/celery_remote.py
  requirements_dev.txt
  tests/strategies/transformation/test_celery_remote.py
Due: pylint-strategies, pylint-tests

Add a redis service to CI pytest runs
  .github/workflows/ci_tests.yml
Due: none

Fix requirements file
  requirements_dev.txt
Due: none

Add small clarifying comment
  tests/strategies/transformation/test_celery_remote.py
Due: pylint-tests

Split pytest CI jobs according to OS
  .github/workflows/ci_tests.yml
Due: none

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^(tests|oteapi/strategies)/.*$)
  pylint-strategies: any of: ^oteapi/strategies/.*$ and \.py$
  pylint-tests: any of: ^tests/.*$ and \.py$
