Repository EMMC-ASBL/oteapi-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-app, pylint-plugins

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
exclude: '^(\.tox|ci/templates|\.bumpversion\.cfg|env)(/|$)'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: debug-statements
  - repo: https://github.com/timothycrosley/isort
    rev: 5.10.0
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files", "--skip-gitignore"]
  - repo: https://github.com/ambv/black
    rev: 21.10b0
    hooks:
    - id: black
      language_version: python3.7
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.0
    hooks:
    - id: bandit
      files: ^app/.*$
  - repo: local
    hooks:
    - id: pylint-app
      name: pylint - app/
      entry: pylint
      args: ["--rcfile=.pylintrc", "--extension-pkg-whitelist='pydantic'"]
      language: python
      types: [python]
      require_serial: true
      files: ^app/.*$
    - id: pylint-plugins
      name: pylint - plugins/
      entry: pylint
      args: ["--rcfile=.pylintrc", "--extension-pkg-whitelist='pydantic'", "--disable=R,C"]
      language: python
      types: [python]
      require_serial: true
      files: ^plugins/.*$

Updated transformation test with new api
  .gitignore
  tests/test_transformation.py
Due: none

fix download strategy
  plugins/download-strategy/https.py
Due: pylint-plugins

black + isort
  app/__init__.py
  app/context/datafilter.py
  app/context/dataresource.py
  app/context/mapping.py
  app/context/redisadmin.py
  app/context/session.py
  app/context/transformation.py
  app/models/filterconfig.py
  app/models/mappingconfig.py
  app/models/resourceconfig.py
  app/models/transformationconfig.py
  app/strategy/factory.py
  app/strategy/idownloadstrategy.py
  app/strategy/ifilterstrategy.py
  app/strategy/imappingstrategy.py
  app/strategy/iparsestrategy.py
  app/strategy/iresourcestrategy.py
  app/strategy/itransformationstrategy.py
  app/strategy/loader.py
  plugins/download-strategy/https.py
  plugins/download-strategy/sftp.py
  plugins/filter-strategy/crop-filter.py
  plugins/filter-strategy/demo-filter.py
  plugins/mapping-strategy/demo-mapping.py
  plugins/parse-strategy/atomistic-structures.py
  plugins/parse-strategy/image-jpeg.py
  plugins/parse-strategy/text-csv.py
  plugins/parse-strategy/text-json.py
  plugins/resource-strategy/demo-resource.py
  plugins/transformation-strategy/celery-remote.py
  plugins/transformation-strategy/dlite-transformation.py
  plugins/transformation-strategy/dummyplugin.py
  python-mapping-plugins/blob2image.py
  tests/dummycache.py
  tests/test_filter.py
  tests/test_mapping.py
  tests/test_session.py
Due: pylint-app, pylint-plugins

Initial version of sqlite resource
  plugins.yml
  plugins/parse-strategy/application-vnd-sqlite.py
  plugins/resource-strategy/sqlite-resource.py
Due: pylint-plugins

Trying to clean up pre-commit mess
  .pre-commit-config.yaml
  Dockerfile
  plugins/parse-strategy/atomistic-structures.py
Due: pylint-plugins

Remove Python version condition for black
  .pre-commit-config.yaml
Due: none

Update files after running pre-commit for all files
  plugins/download-strategy/https.py
Due: pylint-plugins

Run pre-commit in Dockerfile `development` image
  Dockerfile
  requirements.txt
Due: none

combined get and read endpoints in datasource
  app/context/dataresource.py
Due: pylint-app

Added sqlite calls to parse strategy
  plugins.yml
  plugins/parse-strategy/application-vnd-sqlite.py
Due: pylint-plugins

Added sql filter plugin
  plugins/filter-strategy/sql-query-filter.py
Due: pylint-plugins

update dataresource.py
  app/context/dataresource.py
Due: pylint-app

Cleaned up sqlite plugin
  app/context/dataresource.py
  plugins/download-strategy/https.py
  plugins/filter-strategy/sql-query-filter.py
  plugins/parse-strategy/application-vnd-sqlite.py
  plugins/resource-strategy/sqlite-resource.py
Due: pylint-app, pylint-plugins

Removed - from sqlite filenames
  plugins.yml
  plugins/filter-strategy/sql_query_filter.py
  plugins/parse-strategy/application_vnd_sqlite.py
Due: pylint-plugins

Fix pre-commit errors
  plugins/filter-strategy/sql_query_filter.py
  plugins/parse-strategy/application_vnd_sqlite.py
Due: pylint-plugins

Resolve "Move `compevo-store` to be a Parse Strategy or expand Download Strategy"
  Dockerfile
  app/context/dataresource.py
  app/models/resourceconfig.py
  app/strategy/loader.py
  plugins.yml
  plugins/download-strategy/https.py
  plugins/filter-strategy/compevo-crop-filter.py
  plugins/filter-strategy/compevo-store-filter.py
  plugins/mapping-strategy/compevo-map.py
  plugins/parse-strategy/dlite-image-jpeg.py
  plugins/parse-strategy/image-jpeg.py
Due: pylint-app, pylint-plugins

Convert all `-` to `_` in path/file-names
  app/strategy/loader.py
  plugins.yml
  plugins/download_strategy/__init__.py
  plugins/download_strategy/https.py
  plugins/download_strategy/sftp.py
  plugins/filter_strategy/__init__.py
  plugins/filter_strategy/compevo_crop_filter.py
  plugins/filter_strategy/crop_filter.py
  plugins/filter_strategy/demo_filter.py
  plugins/filter_strategy/sql_query_filter.py
  plugins/mapping_strategy/__init__.py
  plugins/mapping_strategy/compevo_map.py
  plugins/mapping_strategy/demo_mapping.py
  plugins/parse_strategy/__init__.py
  plugins/parse_strategy/application_vnd_sqlite.py
  plugins/parse_strategy/dlite_image_jpeg.py
  plugins/parse_strategy/image_jpeg.py
  plugins/parse_strategy/text_csv.py
  plugins/parse_strategy/text_json.py
  plugins/resource_strategy/__init__.py
  plugins/resource_strategy/demo_resource.py
  plugins/transformation_strategy/__init__.py
  plugins/transformation_strategy/celery_remote.py
  plugins/transformation_strategy/compevo_result.py
  plugins/transformation_strategy/compevo_wrap_porefraction.py
  plugins/transformation_strategy/dlite_transformation.py
  plugins/transformation_strategy/dummyplugin.py
  python_mapping_plugins/blob2image.py
  tests/test_filter.py
  tests/test_mapping.py
  tests/test_transformation.py
Due: pylint-app, pylint-plugins

pre commit fix
  cache/compevo/porefraction.py
  plugins/mapping_strategy/compevo_map.py
  plugins/parse_strategy/text_csv.py
  plugins/parse_strategy/text_json.py
  plugins/transformation_strategy/celery_remote.py
  plugins/transformation_strategy/compevo_result.py
  plugins/transformation_strategy/dlite_transformation.py
  tests/dummycache.py
Due: pylint-plugins

Added all plugins for dehydrogenation case
  plugins.yml
  plugins/parse-strategy/atomistic-structures.py
  plugins/transformation-strategy/calculate_molecule_energy.py
  plugins/transformation-strategy/calculate_reaction_energy.py
Due: pylint-plugins

changed the porefraction algorithm to use minimum
  plugins/transformation_strategy/compevo_wrap_porefraction.py
Due: pylint-plugins

Added comment about why we need transformation id for transformation/status
  app/context/transformation.py
Due: pylint-app

Update .gitlab-ci.yml to use internal variables instead of depending on git
  .gitlab-ci.yml
Due: none

Use `pydantic.Field` for all config pydantic models
  app/models/filterconfig.py
  app/models/mappingconfig.py
  app/models/resourceconfig.py
  app/models/transformationconfig.py
Due: pylint-app

Add model validation for ResourceConfig
  app/models/resourceconfig.py
Due: pylint-app

Remove unused and redundant OTEUrl model
  app/models/resourceconfig.py
Due: pylint-app

Added descriptions fields. Ref #42
  app/models/mappingconfig.py
  app/models/resourceconfig.py
  app/models/transformationconfig.py
Due: pylint-app

Ensure lines are maximum 88 chars long
  app/models/resourceconfig.py
  app/models/transformationconfig.py
Due: pylint-app

Remove dcat references #42
  app/models/resourceconfig.py
  app/models/transformationconfig.py
Due: pylint-app

Use conlist to define Triples
  app/models/mappingconfig.py
Due: pylint-app

Fixed comment and documentation issues from review
  Dockerfile
  plugins/parse-strategy/atomistic-structures.py
  plugins/transformation-strategy/calculate_molecule_energy.py
  plugins/transformation-strategy/calculate_reaction_energy.py
Due: pylint-plugins

Renamed all files with - to _
  build-dev.sh
  plugins.yml
  plugins/parse_strategy/atomistic_structures.py
  plugins/transformation_strategy/calculate_molecule_energy.py
  plugins/transformation_strategy/calculate_reaction_energy.py
Due: pylint-plugins

pre-commit fix on test files
  tests/dummycache.py
  tests/test_filter.py
  tests/test_mapping.py
  tests/test_session.py
Due: none

Removed comment
  plugins/parse_strategy/atomistic_structures.py
Due: pylint-plugins

Fix for `ResourceConfig` validator. Add test for all thinkable initiation combinations.
  app/models/resourceconfig.py
  tests/app/__init__.py
  tests/app/models/__init__.py
  tests/app/models/test_resourceconfig.py
Due: pylint-app

Update dependencies and run `safety` more verbosely
  Dockerfile
  requirements.txt
Due: none

Simple parse-strategy for excel
  .vscode/settings.json
  plugins.yml
  plugins/parse_strategy/excel_xlsx.py
  requirements.txt
Due: pylint-plugins

Make sure that oteapi finds plugins.yaml even if cwd is not the root of oteapi
  app/__init__.py
Due: pylint-app

Changed default behaviour for excel parser
  plugins/parse_strategy/excel_xlsx.py
Due: pylint-plugins
