Repository EMMC-ASBL/oteapi-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-strategies, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  language: python
  require_serial: true

pylint-strategies:
  name: pylint - oteapi/strategies/
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  - --disable=R,C
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  - --disable=C0415,W0621
  language: python
  require_serial: true

Updated docs
  docs/index.md
Due: none

Update README.md (#134)
  README.md
  docs/index.md
Due: none

triplestore class which does add, delete/update and get mappings/triples (#128)
  docs/api_reference/models/triplestoreconfig.md
  docs/api_reference/triplestore/.pages
  docs/api_reference/triplestore/triplestore.md
  oteapi/README.md
  oteapi/models/__init__.py
  oteapi/models/triplestoreconfig.py
  oteapi/triplestore/__init__.py
  oteapi/triplestore/triplestore.py
  requirements.txt
Due: pylint

Added pull request template
  .github/pull_request_template.md
Due: none

Added PR template with checklist for reviewers.
  .github/pull_request_template.md
Due: none

removed mandatory download form excel parser
  oteapi/strategies/parse/excel_xlsx.py
Due: pylint-strategies

Added PR template with checklist for reviewers. (#139)
  .github/pull_request_template.md
Due: none

Fix deleting entries in AttrDict
  oteapi/models/genericconfig.py
  tests/models/test_genericconfig.py
Due: pylint, pylint-tests

Extend testing to cover more lines
  tests/models/test_genericconfig.py
Due: pylint-tests

Test `update()` method where other is BaseModel
  tests/models/test_genericconfig.py
Due: pylint-tests

Don't consider TYPE_CHECKING blocks for coverage
  oteapi/models/genericconfig.py
  oteapi/models/resourceconfig.py
  oteapi/utils/paths.py
Due: pylint

Update tests/models/test_genericconfig.py
  tests/models/test_genericconfig.py
Due: pylint-tests

Add extra test for deleting required field
  tests/models/test_genericconfig.py
Due: pylint-tests

corrections to make mypy and pylint happy
  oteapi/strategies/parse/excel_xlsx.py
Due: pylint-strategies

Modify excel parse (#148)
  oteapi/strategies/parse/excel_xlsx.py
Due: pylint-strategies

Fix parameter name for updated mkdocs parser
  oteapi/plugins/entry_points.py
Due: pylint

Fix deleting entries in AttrDict (#144)
  oteapi/models/genericconfig.py
  oteapi/models/resourceconfig.py
  oteapi/utils/paths.py
  tests/models/test_genericconfig.py
Due: pylint, pylint-tests

Ensure pylint runs in CI
  .github/workflows/ci_tests.yml
Due: none

Remove obsolete disable statements
  oteapi/models/resourceconfig.py
  tests/static/strategies/download.py
  tests/static/strategies/filter.py
  tests/static/strategies/function.py
  tests/static/strategies/mapping.py
  tests/static/strategies/parse.py
  tests/static/strategies/resource.py
  tests/static/strategies/transformation.py
  tests/strategies/download/test_sftp.py
Due: pylint, pylint-tests

Update mkdocs config to new Python docs parser
  mkdocs.yml
Due: none

Remove unnecessary mkdocs config lines
  mkdocs.yml
Due: none

Implement the CSV parser
  .pre-commit-config.yaml
  oteapi/strategies/parse/text_csv.py
  setup.cfg
  tests/static/sample1.csv
  tests/static/sample2.csv
  tests/static/sample3.csv
  tests/static/sample4.csv
  tests/strategies/parse/test_text_csv.py
Due: pylint-strategies, pylint-tests

Use Enum for CSV dialect `base` value.
  oteapi/strategies/parse/text_csv.py
  tests/strategies/parse/test_text_csv.py
Due: pylint-strategies, pylint-tests

Fix testing in Win env
  tests/strategies/parse/test_text_csv.py
Due: pylint-tests

CSV parse strategy (#160)
  .pre-commit-config.yaml
  mkdocs.yml
  oteapi/strategies/parse/text_csv.py
  setup.cfg
  tests/static/sample1.csv
  tests/static/sample2.csv
  tests/static/sample3.csv
  tests/static/sample4.csv
  tests/strategies/parse/test_text_csv.py
Due: pylint-strategies, pylint-tests

Test registered entry points can be imported
  tests/strategies/test_strategies_general.py
Due: pylint-tests

Fix class name in entry point
  setup.cfg
Due: none

Test and fix registered strategies (#171)
  setup.cfg
  tests/strategies/test_strategies_general.py
Due: pylint-tests

Fix tests with updated pytest paths
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
  tests/conftest.py
  tests/plugins/conftest.py
  tests/plugins/test_entry_points_entrypointstrategy.py
  tests/plugins/test_factories.py
  tests/static/strategies/download.py
  tests/static/strategies/filter.py
  tests/static/strategies/function.py
  tests/static/strategies/mapping.py
  tests/static/strategies/parse.py
  tests/static/strategies/resource.py
  tests/static/strategies/transformation.py
Due: pylint-tests

Revert change and fix workflow
  .github/workflows/ci_dependabot.yml
  tests/plugins/test_entry_points_entrypointstrategy.py
Due: pylint-tests

Updated sessionupdate datamodel to include session_type and session_id
  oteapi/models/sessionupdate.py
Due: pylint

Add timeout to `requests` call
  oteapi/strategies/download/https.py
Due: pylint-strategies

Applied changes imposed by blacken
  oteapi/models/sessionupdate.py
Due: pylint

Use recursive option for pylint-tests CI
  .github/workflows/ci_tests.yml
Due: none

added prototype postgres strategy
  oteapi/strategies/parse/application_vnd_postgres.py
Due: pylint-strategies

Use recursive option for pylint-tests CI (#194)
  .github/workflows/ci_tests.yml
Due: none

working proof of concept postgrep resource strategy
  oteapi/strategies/filter/sql_query_filter.py
  oteapi/strategies/resource/__init__.py
  oteapi/strategies/resource/application_vnd_postgres.py
Due: pylint-strategies

postgres_strategy takes dictionary input
  docs/api_reference/strategies/resource/.pages
  docs/api_reference/strategies/resource/application_vnd_postgres.md
  oteapi/strategies/resource/application_vnd_postgres.py
  setup.cfg
Due: pylint-strategies

added some scratch files to manually set up + test the postgres strategy
  scratch_launch-docker.sh
  scratch_test-manually.ipynb
Due: none

added a small clarification to the docs
  docs/index.md
Due: none

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^(tests|oteapi/strategies)/.*$)
  pylint-strategies: any of: ^oteapi/strategies/.*$ and \.py$
  pylint-tests: any of: ^tests/.*$ and \.py$
