Repository EMMC-ASBL/oteapi-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-strategies, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  language: python
  require_serial: true

pylint-strategies:
  name: pylint - oteapi/strategies/
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  - --disable=R,C
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  - --disable=C0415,W0621
  language: python
  require_serial: true

Add pytest options to pyproject.toml (#43)
  pyproject.toml
Due: none

Added drafts for upload and serialise strategies
  oteapi/strategies/serialise/__init__.py
  oteapi/strategies/upload/__init__.py
  oteapi/strategies/upload/file.py
Due: pylint-strategies

Added draft implementations of upload and serialise strategies
  docs/api_reference/strategies/serialise/.pages
  docs/api_reference/strategies/serialise/text_json.md
  docs/api_reference/strategies/upload/.pages
  docs/api_reference/strategies/upload/file.md
  oteapi/datacache/datacache.py
  oteapi/models/transformationconfig.py
  oteapi/plugins/factories.py
  oteapi/strategies/download/file.py
  oteapi/strategies/parse/text_json.py
  oteapi/strategies/serialise/text_json.py
  oteapi/strategies/transformation/celery_remote.py
  oteapi/strategies/upload/file.py
  tests/strategies/serialise/test_serialise_json.py
Due: pylint, pylint-strategies, pylint-tests

Non-working draft
  oteapi/plugins/factories.py
  oteapi/strategies/upload/file.py
  setup.cfg
  tests/strategies/upload/test_upload.py
Due: pylint, pylint-strategies, pylint-tests

Make imports isort-compliant
  tests/models/test_resourceconfig.py
  tests/strategies/download/test_file.py
  tests/strategies/download/test_https.py
  tests/strategies/parse/test_application_vnd_sqlite.py
  tests/strategies/parse/test_json.py
Due: pylint-tests

Add newline at the end of sample2.json
  tests/strategies/sample2.json
Due: none

Use universal path for pytest-cov
  pyproject.toml
Due: none

Add pytest Windows CI job
  .github/workflows/ci_tests.yml
Due: none

Further updates
  docs/api_reference/interfaces/iserialisestrategy.md
  docs/api_reference/interfaces/iuploadstrategy.md
  oteapi/interfaces/__init__.py
  oteapi/interfaces/iserialisestrategy.py
  oteapi/interfaces/iuploadstrategy.py
  tests/strategies/upload/test_upload.py
Due: pylint, pylint-tests

Add Windows pytest CI job (#52)
  .github/workflows/ci_tests.yml
  pyproject.toml
Due: none

Add dictionary interface to configuration models
  oteapi/models/__init__.py
  oteapi/models/datacacheconfig.py
  oteapi/models/filterconfig.py
  oteapi/models/genericconfig.py
  oteapi/models/mappingconfig.py
  oteapi/models/resourceconfig.py
  oteapi/models/transformationconfig.py
Due: pylint

Add genericconfig API reference
  docs/api_reference/models/genericconfig.md
Due: none

Ignore some mypy complaints in datacache.py
  oteapi/datacache/datacache.py
Due: pylint

Make files satisfy demands by Pylint
  tests/conftest.py
  tests/datacache/test_datacache.py
  tests/models/test_resourceconfig.py
  tests/strategies/download/test_file.py
  tests/strategies/download/test_https.py
  tests/strategies/parse/test_application_vnd_sqlite.py
  tests/strategies/parse/test_image_jpeg.py
  tests/strategies/parse/test_json.py
Due: pylint-tests

Fix file download path for Linux
  oteapi/strategies/download/file.py
Due: pylint-strategies

Make files black-compliant
  oteapi/strategies/download/file.py
  oteapi/strategies/parse/image_jpeg.py
  tests/strategies/download/test_https.py
  tests/strategies/parse/test_application_vnd_sqlite.py
  tests/strategies/parse/test_image_jpeg.py
Due: pylint-strategies, pylint-tests

Fix missing text -> application for JSON
  docs/api_reference/strategies/parse/application_json.md
  docs/api_reference/strategies/parse/text_json.md
  oteapi/strategies/parse/application_json.py
Due: pylint-strategies

GenericConfig bugfix
  oteapi/models/genericconfig.py
Due: pylint

Ignore ID 44715 for safety
  .github/workflows/ci_tests.yml
Due: none

Ignore ID 44715 for safety (#55)
  .github/workflows/ci_tests.yml
Due: none

Use the intended strategy name in entry points
  oteapi/plugins/plugins.py
  setup.cfg
  tests/strategies/conftest.py
Due: pylint, pylint-tests

Finalize the new plugin and factories
  oteapi/plugins/__init__.py
  oteapi/plugins/factories.py
  oteapi/plugins/plugins.py
Due: pylint

Add tests for entry_points.py
  oteapi/plugins/__init__.py
  oteapi/plugins/entry_points.py
  oteapi/plugins/factories.py
  tests/plugins/conftest.py
  tests/plugins/test_entry_points.py
  tests/strategies/conftest.py
Due: pylint, pylint-tests

Start implementing entry point logic
  oteapi/plugins/plugins.py
  setup.cfg
Due: pylint

Fix docs build
  oteapi/plugins/entry_points.py
Due: pylint

Ensure strategies are not made before being loaded
  oteapi/plugins/factories.py
Due: pylint

Use strategy_type instead of field for ep groups
  setup.cfg
Due: none

Remove commented out code
  tasks.py
Due: pylint

More tests for `plugins.entry_points`.
  oteapi/plugins/entry_points.py
  tests/conftest.py
  tests/plugins/test_entry_points.py
Due: pylint, pylint-tests

Add extensive notes about entry point name chars
  oteapi/plugins/plugins.py
Due: pylint

Update strategies with new plugin system
  oteapi/strategies/download/file.py
  oteapi/strategies/download/https.py
  oteapi/strategies/download/sftp.py
  oteapi/strategies/filter/crop_filter.py
  oteapi/strategies/filter/sql_query_filter.py
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/excel_xlsx.py
  oteapi/strategies/parse/image_jpeg.py
  oteapi/strategies/parse/text_csv.py
  oteapi/strategies/parse/text_json.py
  oteapi/strategies/transformation/celery_remote.py
  setup.cfg
Due: pylint-strategies

Rename plugins leaf-module to entry_points
  docs/api_reference/plugins/entry_points.md
  docs/api_reference/plugins/plugins.md
  oteapi/plugins/entry_points.py
  oteapi/plugins/factories.py
Due: pylint

Avoid code coverage for unreachable typing sections
  oteapi/datacache/datacache.py
  oteapi/interfaces/idownloadstrategy.py
  oteapi/interfaces/ifilterstrategy.py
  oteapi/interfaces/imappingstrategy.py
  oteapi/interfaces/iparsestrategy.py
  oteapi/interfaces/iresourcestrategy.py
  oteapi/interfaces/itransformationstrategy.py
  oteapi/plugins/entry_points.py
  oteapi/plugins/factories.py
  oteapi/strategies/download/file.py
  oteapi/strategies/download/https.py
  oteapi/strategies/download/sftp.py
  oteapi/strategies/filter/crop_filter.py
  oteapi/strategies/filter/sql_query_filter.py
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/excel_xlsx.py
  oteapi/strategies/parse/image_jpeg.py
  oteapi/strategies/parse/text_csv.py
  oteapi/strategies/parse/text_json.py
  oteapi/strategies/transformation/celery_remote.py
  tasks.py
  tests/datacache/test_datacache.py
  tests/plugins/conftest.py
  tests/plugins/test_entry_points.py
Due: pylint, pylint-strategies, pylint-tests

Update contains and getitem methods for coll
  oteapi/plugins/entry_points.py
  oteapi/plugins/factories.py
  tests/conftest.py
  tests/plugins/test_entry_points.py
Due: pylint, pylint-tests

Configuration models rewrite
  oteapi/models/filterconfig.py
  oteapi/models/genericconfig.py
  oteapi/models/mappingconfig.py
  oteapi/models/resourceconfig.py
  oteapi/models/transformationconfig.py
Due: pylint

Revert "Ignore some mypy complaints in datacache.py"
  oteapi/datacache/datacache.py
Due: pylint

Update file.py
  oteapi/strategies/download/file.py
Due: pylint-strategies

Let DataCacheConfig inherit from AttrDict
  oteapi/models/datacacheconfig.py
Due: pylint

Improve AttrDict and decouple GenericConfig
  oteapi/models/genericconfig.py
Due: pylint

Rename `image_jpeg` to `image`
  docs/api_reference/strategies/parse/image.md
  docs/api_reference/strategies/parse/image_jpeg.md
  oteapi/strategies/parse/image.py
  setup.cfg
  tests/strategies/parse/test_jpeg.py
  tests/strategies/sample_1280_853.jpg
Due: pylint-strategies, pylint-tests

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^(tests|oteapi/strategies)/.*$)
  pylint-strategies: any of: ^oteapi/strategies/.*$ and \.py$
  pylint-tests: any of: ^tests/.*$ and \.py$
