Repository EMMC-ASBL/oteapi-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-strategies, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: requirements-txt-fixer
      name: Fix requirements*.txt
      files: ^requirements.*\.txt$
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/timothycrosley/isort
    rev: 5.10.1
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files", "--skip-gitignore"]

  - repo: https://github.com/ambv/black
    rev: 21.12b0
    hooks:
    - id: black

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^oteapi/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"

  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      args: ["--rcfile=.pylintrc", "--extension-pkg-whitelist='pydantic'"]
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^(tests|oteapi/strategies)/.*$
    - id: pylint-strategies
      name: pylint - oteapi/strategies/
      entry: pylint
      args: ["--rcfile=.pylintrc", "--extension-pkg-whitelist='pydantic'", "--disable=R,C"]
      language: python
      types: [python]
      require_serial: true
      files: ^oteapi/strategies/.*$
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args: ["--rcfile=.pylintrc", "--extension-pkg-whitelist='pydantic'", "--disable=C0415,W0621"]
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Removed blank line suggested by pre-commit
  oteapi/models/mappingconfig.py
Due: pylint

Implement and test `pop()` and `popitem()` for AttrDict
  oteapi/models/genericconfig.py
  tests/models/test_genericconfig.py
Due: pylint, pylint-tests

Update oteapi/models/mappingconfig.py
  oteapi/models/mappingconfig.py
Due: pylint

Updated MappingConfig
  oteapi/models/mappingconfig.py
  oteapi/strategies/mapping/mapping.py
Due: pylint, pylint-strategies

Implement and test `pop()` and `popitem()` for AttrDict (#119)
  oteapi/models/genericconfig.py
  tests/models/test_genericconfig.py
Due: pylint, pylint-tests

Renamed mapping type to "triples"
  oteapi/strategies/mapping/mapping.py
  setup.cfg
  tests/strategies/mapping/test_mapping.py
Due: pylint-strategies, pylint-tests

Fixed failing test
  tests/strategies/mapping/test_mapping.py
Due: pylint-tests

Added MappingSessionUpdate
  oteapi/strategies/mapping/mapping.py
Due: pylint-strategies

Added RDFTriple
  oteapi/models/__init__.py
  oteapi/strategies/mapping/mapping.py
Due: pylint, pylint-strategies

Cleaned up
  oteapi/models/__init__.py
  oteapi/strategies/mapping/mapping.py
Due: pylint, pylint-strategies

Added mapping strategy (#112)
  docs/api_reference/strategies/mapping/.pages
  docs/api_reference/strategies/mapping/mapping.md
  oteapi/models/__init__.py
  oteapi/models/mappingconfig.py
  oteapi/strategies/mapping/__init__.py
  oteapi/strategies/mapping/mapping.py
  setup.cfg
  tests/strategies/mapping/test_mapping.py
Due: pylint, pylint-strategies, pylint-tests

Using the StrategyType to deliver the *Config cls
  oteapi/plugins/entry_points.py
  oteapi/plugins/factories.py
  tests/plugins/test_factories.py
Due: pylint, pylint-tests

Import config classes and use them straight up
  oteapi/plugins/entry_points.py
Due: pylint

Using the `StrategyType` to deliver the `*Config` cls (#124)
  oteapi/plugins/entry_points.py
  oteapi/plugins/factories.py
  tests/plugins/test_factories.py
Due: pylint, pylint-tests

Fix pydantic model type and default values
  oteapi/models/datacacheconfig.py
  oteapi/models/genericconfig.py
  oteapi/models/mappingconfig.py
  oteapi/models/resourceconfig.py
  oteapi/models/transformationconfig.py
  oteapi/strategies/filter/crop_filter.py
  oteapi/strategies/filter/sql_query_filter.py
  oteapi/strategies/parse/application_json.py
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/excel_xlsx.py
  oteapi/strategies/parse/image.py
  oteapi/strategies/transformation/celery_remote.py
Due: pylint, pylint-strategies

Add links to badges in README
  README.md
  docs/index.md
Due: none

triplestore class which does add, delete/update and get mappings/triples
  docs/api_reference/triplestore/.pages
  docs/api_reference/triplestore/triplestore.md
  oteapi/README.md
  oteapi/models/__init__.py
  oteapi/models/triplestoreconfig.py
  oteapi/triplestore/__init__.py
  oteapi/triplestore/triplestore.py
  requirements.txt
Due: pylint

fix pylint issues
  oteapi/models/triplestoreconfig.py
  oteapi/triplestore/triplestore.py
Due: pylint

precommit changes
  docs/CHANGELOG.md
  docs/LICENSE.md
Due: none

Fix docs
  docs/CHANGELOG.md
  docs/LICENSE.md
  docs/api_reference/models/triplestoreconfig.md
Due: none

remove duplicate line
  oteapi/triplestore/triplestore.py
Due: pylint

Update oteapi/models/genericconfig.py
  oteapi/models/genericconfig.py
Due: pylint

Fix pydantic model type and default values (#125)
  oteapi/models/datacacheconfig.py
  oteapi/models/genericconfig.py
  oteapi/models/mappingconfig.py
  oteapi/models/resourceconfig.py
  oteapi/models/transformationconfig.py
  oteapi/strategies/filter/crop_filter.py
  oteapi/strategies/filter/sql_query_filter.py
  oteapi/strategies/parse/application_json.py
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/excel_xlsx.py
  oteapi/strategies/parse/image.py
  oteapi/strategies/transformation/celery_remote.py
Due: pylint, pylint-strategies

Link to commit-activity graph
  README.md
  docs/index.md
Due: none

Add links to badges in README (#126)
  README.md
  docs/index.md
Due: none

fix error handling
  oteapi/triplestore/triplestore.py
Due: pylint

Update oteapi/models/triplestoreconfig.py
  oteapi/models/triplestoreconfig.py
Due: pylint

fix typo and requested changes
  oteapi/README.md
  oteapi/models/triplestoreconfig.py
  oteapi/triplestore/triplestore.py
  requirements.txt
Due: pylint

add type to return value none
  oteapi/triplestore/triplestore.py
Due: pylint

update docs
  oteapi/triplestore/triplestore.py
Due: pylint

Update README.md
  README.md
Due: none
