Repository EMMC-ASBL/oteapi-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-strategies, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: requirements-txt-fixer
      name: Fix requirements*.txt
      files: ^requirements.*\.txt$
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/timothycrosley/isort
    rev: 5.10.1
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files", "--skip-gitignore"]

  - repo: https://github.com/ambv/black
    rev: 21.12b0
    hooks:
    - id: black

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^oteapi/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"

  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      args: ["--rcfile=.pylintrc", "--extension-pkg-whitelist='pydantic'"]
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^(tests|oteapi/strategies)/.*$
    - id: pylint-strategies
      name: pylint - oteapi/strategies/
      entry: pylint
      args: ["--rcfile=.pylintrc", "--extension-pkg-whitelist='pydantic'", "--disable=R,C"]
      language: python
      types: [python]
      require_serial: true
      files: ^oteapi/strategies/.*$
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args: ["--rcfile=.pylintrc", "--extension-pkg-whitelist='pydantic'", "--disable=C0415,W0621"]
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Fail celery/remote test if in CI without redis
  tests/strategies/transformation/test_celery_remote.py
Due: pylint-tests

Fail for CI IF running Linux OS
  tests/strategies/transformation/test_celery_remote.py
Due: pylint-tests

Use `task_name` alias for CeleryConfig
  oteapi/strategies/transformation/celery_remote.py
  tests/strategies/transformation/test_celery_remote.py
Due: pylint-strategies, pylint-tests

Check for aliased fields in the session as well
  oteapi/strategies/transformation/celery_remote.py
Due: pylint-strategies

Ensure the correct field is written to
  oteapi/strategies/transformation/celery_remote.py
Due: pylint-strategies

Polish `celery/remote` transformation strategy (#240)
  .github/workflows/ci_tests.yml
  oteapi/strategies/transformation/celery_remote.py
  requirements_dev.txt
  tests/strategies/transformation/test_celery_remote.py
Due: pylint-strategies, pylint-tests

Pin urllib3 to v1.x
  requirements.txt
Due: none

Pin urllib3 to v1.x (#262)
  requirements.txt
Due: none

Update to SINTEF/ci-cd v2
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
Due: none

Update to SINTEF/ci-cd v2 (#266)
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
Due: none

added precommit formatting changes
  oteapi/strategies/resource/postgres.py
Due: pylint-strategies

removed scratch docker and added README
  README.md
  docs/index.md
  scratch_launch-docker.sh
Due: none

removed manual regression notebook
  manual_regression/postgress_test.ipynb
Due: none

Use typing_extensions for Python <= 3.9
  oteapi/strategies/parse/image.py
  requirements.txt
Due: pylint-strategies

Use typing_extensions for Python <= 3.9 (#270)
  oteapi/strategies/parse/image.py
  requirements.txt
Due: pylint-strategies

191 psycopg2postgresql datasource strategy (#196)
  README.md
  docs/api_reference/strategies/resource/.pages
  docs/api_reference/strategies/resource/postgres.md
  docs/index.md
  oteapi/strategies/filter/sql_query_filter.py
  oteapi/strategies/resource/__init__.py
  oteapi/strategies/resource/postgres.py
  requirements.txt
  setup.cfg
  tests/strategies/resource/test_postgres.py
Due: pylint-strategies, pylint-tests

Added DOI badge to readme
  README.md
  docs/index.md
Due: none

Added DOI badge to readme (#273)
  README.md
  docs/index.md
Due: none

pre-commit fix
  docs/api_reference/strategies/download/file.md
  docs/api_reference/strategies/download/https.md
  docs/api_reference/strategies/download/sftp.md
  docs/api_reference/strategies/filter/crop_filter.md
  docs/api_reference/strategies/filter/sql_query_filter.md
  docs/api_reference/strategies/mapping/mapping.md
  docs/api_reference/strategies/parse/application_json.md
  docs/api_reference/strategies/parse/application_vnd_sqlite.md
  docs/api_reference/strategies/parse/excel_xlsx.md
  docs/api_reference/strategies/parse/image.md
  docs/api_reference/strategies/parse/text_csv.md
  docs/api_reference/strategies/resource/postgres.md
  docs/api_reference/strategies/transformation/celery_remote.md
Due: none

Revert "pre-commit fix"
  docs/api_reference/strategies/download/file.md
  docs/api_reference/strategies/download/https.md
  docs/api_reference/strategies/download/sftp.md
  docs/api_reference/strategies/filter/crop_filter.md
  docs/api_reference/strategies/filter/sql_query_filter.md
  docs/api_reference/strategies/mapping/mapping.md
  docs/api_reference/strategies/parse/application_json.md
  docs/api_reference/strategies/parse/application_vnd_sqlite.md
  docs/api_reference/strategies/parse/excel_xlsx.md
  docs/api_reference/strategies/parse/image.md
  docs/api_reference/strategies/parse/text_csv.md
  docs/api_reference/strategies/resource/postgres.md
  docs/api_reference/strategies/transformation/celery_remote.md
Due: none

added a dummy change to README.md
  README.md
Due: none

changed pydanditc
  requirements.txt
Due: none

When strings given to datacache the hash is now updated
  oteapi/datacache/datacache.py
  tests/datacache/test_datacache.py
Due: pylint, pylint-tests

When strings given to datacache the hash is now updated (#299)
  oteapi/datacache/datacache.py
  tests/datacache/test_datacache.py
Due: pylint, pylint-tests

first sketch of new implementation
  oteapi/interfaces/iparsestrategy.py
  oteapi/models/parserconfig.py
  oteapi/models/resourceconfig.py
  oteapi/strategies/parse/excel_xlsx.py
  oteapi/strategies/parse/postgres.py
  oteapi/strategies/resource/default.py
Due: pylint, pylint-strategies

fixed pytest failures
  oteapi/models/__init__.py
  setup.cfg
  tests/strategies/resource/test_postgres.py
Due: pylint, pylint-tests

fixes for precommit
  docs/api_reference/models/parserconfig.md
  docs/api_reference/strategies/parse/postgres.md
  docs/api_reference/strategies/resource/default.md
  docs/api_reference/strategies/resource/postgres.md
  docs/api_reference/utils/config_updater.md
  oteapi/models/__init__.py
  oteapi/models/parserconfig.py
  oteapi/models/resourceconfig.py
  oteapi/strategies/resource/default.py
  oteapi/utils/config_updater.py
  tests/utils/test_config_updater.py
Due: pylint, pylint-strategies, pylint-tests

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update .pre-commit-config.yaml (#307)
  .pre-commit-config.yaml
Due: none

removed default module that wasn't doing anything, changed docstring path in postgres
  oteapi/strategies/parse/postgres.py
  oteapi/strategies/resource/default.py
Due: pylint-strategies

removed non-existant default page
  docs/api_reference/strategies/resource/default.md
Due: none

Add all strategy folders to be with full doc
  .pre-commit-config.yaml
  docs/api_reference/strategies/download/file.md
  docs/api_reference/strategies/download/https.md
  docs/api_reference/strategies/download/sftp.md
  docs/api_reference/strategies/filter/crop_filter.md
  docs/api_reference/strategies/filter/sql_query_filter.md
  docs/api_reference/strategies/mapping/mapping.md
  docs/api_reference/strategies/parse/application_json.md
  docs/api_reference/strategies/parse/application_vnd_sqlite.md
  docs/api_reference/strategies/parse/excel_xlsx.md
  docs/api_reference/strategies/parse/image.md
  docs/api_reference/strategies/parse/text_csv.md
  docs/api_reference/strategies/resource/postgres.md
  docs/api_reference/strategies/transformation/celery_remote.md
Due: none

Update mkdocs config
  mkdocs.yml
Due: none

Ensure submodules are included for all_* doc pages
  docs/all_models.md
  docs/all_strategies.md
Due: none

Fully document strategies (#313)
  .pre-commit-config.yaml
  docs/all_models.md
  docs/all_strategies.md
  docs/api_reference/strategies/download/file.md
  docs/api_reference/strategies/download/https.md
  docs/api_reference/strategies/download/sftp.md
  docs/api_reference/strategies/filter/crop_filter.md
  docs/api_reference/strategies/filter/sql_query_filter.md
  docs/api_reference/strategies/mapping/mapping.md
  docs/api_reference/strategies/parse/application_json.md
  docs/api_reference/strategies/parse/application_vnd_sqlite.md
  docs/api_reference/strategies/parse/excel_xlsx.md
  docs/api_reference/strategies/parse/image.md
  docs/api_reference/strategies/parse/text_csv.md
  docs/api_reference/strategies/resource/postgres.md
  docs/api_reference/strategies/transformation/celery_remote.md
  mkdocs.yml
Due: none

Added support for relative file paths
  oteapi/utils/paths.py
Due: pylint

Updated markdown-files as required by pre-commit on GitHub
  docs/api_reference/strategies/download/file.md
  docs/api_reference/strategies/download/https.md
  docs/api_reference/strategies/download/sftp.md
  docs/api_reference/strategies/filter/crop_filter.md
  docs/api_reference/strategies/filter/sql_query_filter.md
  docs/api_reference/strategies/mapping/mapping.md
  docs/api_reference/strategies/parse/application_json.md
  docs/api_reference/strategies/parse/application_vnd_sqlite.md
  docs/api_reference/strategies/parse/excel_xlsx.md
  docs/api_reference/strategies/parse/image.md
  docs/api_reference/strategies/parse/text_csv.md
  docs/api_reference/strategies/resource/postgres.md
  docs/api_reference/strategies/transformation/celery_remote.md
Due: none

Improved uri_to_path() to also support non-file schemes
  oteapi/utils/paths.py
Due: pylint

Re-add original options
  docs/api_reference/strategies/download/file.md
  docs/api_reference/strategies/download/https.md
  docs/api_reference/strategies/download/sftp.md
  docs/api_reference/strategies/filter/crop_filter.md
  docs/api_reference/strategies/filter/sql_query_filter.md
  docs/api_reference/strategies/mapping/mapping.md
  docs/api_reference/strategies/parse/application_json.md
  docs/api_reference/strategies/parse/application_vnd_sqlite.md
  docs/api_reference/strategies/parse/excel_xlsx.md
  docs/api_reference/strategies/parse/image.md
  docs/api_reference/strategies/parse/text_csv.md
  docs/api_reference/strategies/resource/postgres.md
  docs/api_reference/strategies/transformation/celery_remote.md
Due: none
