Repository EMMC-ASBL/oteapi-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-strategies, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  language: python
  require_serial: true

pylint-strategies:
  name: pylint - oteapi/strategies/
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  - --disable=R,C
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  - --disable=C0415,W0621
  language: python
  require_serial: true

Fixup test_genericconfig.py
  tests/models/test_genericconfig.py
Due: pylint-tests

Collect all image parser tests in one module
  tests/strategies/parse/test_gif.py
  tests/strategies/parse/test_image.py
  tests/strategies/parse/test_jp2.py
  tests/strategies/parse/test_jpeg.py
  tests/strategies/parse/test_png.py
  tests/strategies/parse/test_tiff.py
Due: pylint-tests

Miscellaneous fixups
  requirements_dev.txt
  tests/strategies/download/test_file.py
  tests/strategies/download/test_https.py
  tests/strategies/download/test_sftp.py
  tests/strategies/filter/test_crop_filter.py
  tests/strategies/parse/test_application_json.py
  tests/strategies/parse/test_application_vnd_sqlite.py
Due: pylint-tests

Reintroduce test of AttrDict
  tests/models/test_genericconfig.py
Due: pylint-tests

Fix file parse strategy for Posix systems
  oteapi/strategies/download/file.py
Due: pylint-strategies

Made datacache accepting AttrDict configuration
  oteapi/datacache/datacache.py
  oteapi/strategies/download/file.py
Due: pylint, pylint-strategies

Set read_only=False when loading the workbook in the excel parser.
  oteapi/strategies/parse/excel_xlsx.py
Due: pylint-strategies

Added comment about read_only=False
  oteapi/strategies/parse/excel_xlsx.py
Due: pylint-strategies

Fixups
  oteapi/strategies/download/file.py
  tests/strategies/filter/test_crop_filter.py
Due: pylint-strategies, pylint-tests

Fixup test_crop_filter.py
  tests/strategies/filter/test_crop_filter.py
Due: pylint-tests

All new tests (#35)
  README.md
  docs/api_reference/strategies/parse/application_json.md
  docs/api_reference/strategies/parse/image.md
  docs/api_reference/strategies/parse/image_jpeg.md
  docs/api_reference/strategies/parse/text_json.md
  docs/index.md
  oteapi/models/genericconfig.py
  oteapi/strategies/download/file.py
  oteapi/strategies/filter/crop_filter.py
  oteapi/strategies/parse/application_json.py
  oteapi/strategies/parse/image.py
  requirements_dev.txt
  setup.cfg
  tests/conftest.py
  tests/datacache/test_datacache.py
  tests/models/test_genericconfig.py
  tests/strategies/download/test_file.py
  tests/strategies/download/test_https.py
  tests/strategies/download/test_sftp.py
  tests/strategies/filter/test_crop_filter.py
  tests/strategies/parse/sample1.db
  tests/strategies/parse/sample1.jp2
  tests/strategies/parse/sample1_1000_1000.jp2
  tests/strategies/parse/sample_1280_853.gif
  tests/strategies/parse/sample_350_250.png
  tests/strategies/parse/sample_350_250.tiff
  tests/strategies/parse/sample_640_426.png
  tests/strategies/parse/sample_640_426.tiff
  tests/strategies/parse/sample_700_400.gif
  tests/strategies/parse/test_application_json.py
  tests/strategies/parse/test_application_vnd_sqlite.py
  tests/strategies/parse/test_image.py
  tests/strategies/parse/test_text_json.py
  tests/strategies/sample2.json
  tests/strategies/sample_1280_853.jpeg
  tests/strategies/sample_1280_853.jpg
  tests/strategies/sample_700_400.jpeg
Due: pylint, pylint-strategies, pylint-tests

Add new Function strategy
  docs/api_reference/interfaces/ifunctionstrategy.md
  docs/api_reference/models/functionconfig.md
  oteapi/interfaces/__init__.py
  oteapi/interfaces/ifunctionstrategy.py
  oteapi/models/__init__.py
  oteapi/models/functionconfig.py
Due: pylint

Update tests to include Function strategy
  oteapi/plugins/entry_points.py
  tests/plugins/conftest.py
  tests/plugins/test_entry_points.py
  tests/static/strategies/function.py
Due: pylint, pylint-tests

Don't recreate `filename` in the `else` block
  oteapi/strategies/download/file.py
Due: pylint-strategies

Update tests
  .pre-commit-config.yaml
  oteapi/models/resourceconfig.py
  oteapi/strategies/download/file.py
  oteapi/strategies/filter/crop_filter.py
  oteapi/strategies/filter/sql_query_filter.py
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/image.py
  pyproject.toml
  tests/conftest.py
  tests/static/sample1.db
  tests/static/sample1.jp2
  tests/static/sample1_1000_1000.jp2
  tests/static/sample2.json
  tests/static/sample_1280_853.gif
  tests/static/sample_1280_853.jpeg
  tests/static/sample_1280_853.jpg
  tests/static/sample_350_250.png
  tests/static/sample_350_250.tiff
  tests/static/sample_640_426.png
  tests/static/sample_640_426.tiff
  tests/static/sample_700_400.gif
  tests/static/sample_700_400.jpeg
  tests/strategies/download/test_file.py
  tests/strategies/download/test_https.py
  tests/strategies/download/test_sftp.py
  tests/strategies/filter/test_crop_filter.py
  tests/strategies/parse/sample_700_400.gif
  tests/strategies/parse/test_application_json.py
  tests/strategies/parse/test_application_vnd_sqlite.py
  tests/strategies/parse/test_image.py
Due: pylint, pylint-strategies, pylint-tests

Satisfy mypy (now with pydantic)
  oteapi/models/genericconfig.py
  oteapi/models/resourceconfig.py
  oteapi/plugins/factories.py
  oteapi/strategies/download/file.py
  oteapi/strategies/download/https.py
  oteapi/strategies/download/sftp.py
  oteapi/strategies/filter/crop_filter.py
  oteapi/strategies/parse/application_json.py
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/excel_xlsx.py
  oteapi/strategies/parse/image.py
  oteapi/strategies/parse/text_csv.py
  oteapi/strategies/transformation/celery_remote.py
  tests/strategies/download/test_https.py
Due: pylint, pylint-strategies, pylint-tests

New Function strategy (#73)
  docs/api_reference/interfaces/ifunctionstrategy.md
  docs/api_reference/models/functionconfig.md
  oteapi/interfaces/__init__.py
  oteapi/interfaces/ifunctionstrategy.py
  oteapi/models/__init__.py
  oteapi/models/functionconfig.py
  oteapi/plugins/entry_points.py
  tests/plugins/conftest.py
  tests/plugins/test_entry_points.py
  tests/static/strategies/function.py
Due: pylint, pylint-tests

fix #72 for download strategy
  oteapi/interfaces/idownloadstrategy.py
  oteapi/models/__init__.py
  oteapi/models/sessionupdate.py
  oteapi/strategies/download/file.py
  oteapi/strategies/download/https.py
  oteapi/strategies/download/sftp.py
Due: pylint, pylint-strategies

fix #72 all strategies covered
  oteapi/strategies/download/sftp.py
  oteapi/strategies/filter/crop_filter.py
  oteapi/strategies/filter/sql_query_filter.py
  oteapi/strategies/parse/application_json.py
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/excel_xlsx.py
  oteapi/strategies/parse/image.py
  oteapi/strategies/parse/text_csv.py
  oteapi/strategies/transformation/celery_remote.py
  tests/strategies/filter/test_crop_filter.py
  tests/strategies/parse/test_application_json.py
Due: pylint-strategies, pylint-tests

Satisfy pre-commit hooks
  docs/api_reference/models/sessionupdate.md
  oteapi/interfaces/idownloadstrategy.py
  oteapi/models/__init__.py
  oteapi/models/sessionupdate.py
  oteapi/strategies/download/file.py
  oteapi/strategies/download/https.py
  oteapi/strategies/download/sftp.py
  oteapi/strategies/filter/crop_filter.py
  oteapi/strategies/parse/application_json.py
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/excel_xlsx.py
  oteapi/strategies/parse/image.py
  oteapi/strategies/parse/text_csv.py
  oteapi/strategies/transformation/celery_remote.py
Due: pylint, pylint-strategies

Use `SessionUpdate` for all interfaces
  oteapi/interfaces/idownloadstrategy.py
  oteapi/interfaces/ifilterstrategy.py
  oteapi/interfaces/ifunctionstrategy.py
  oteapi/interfaces/imappingstrategy.py
  oteapi/interfaces/iparsestrategy.py
  oteapi/interfaces/iresourcestrategy.py
  oteapi/interfaces/itransformationstrategy.py
  oteapi/models/__init__.py
  oteapi/strategies/filter/sql_query_filter.py
  oteapi/strategies/transformation/celery_remote.py
Due: pylint, pylint-strategies

Import `SessionUpdate` from `models`
  oteapi/strategies/download/file.py
  oteapi/strategies/download/https.py
  oteapi/strategies/download/sftp.py
  oteapi/strategies/filter/crop_filter.py
  oteapi/strategies/filter/sql_query_filter.py
  oteapi/strategies/parse/application_json.py
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/excel_xlsx.py
  oteapi/strategies/parse/text_csv.py
  oteapi/strategies/transformation/celery_remote.py
Due: pylint-strategies

Remove superfluous CSV session update sub-class
  oteapi/strategies/parse/text_csv.py
Due: pylint-strategies

Import from `models` in strategies
  oteapi/strategies/download/file.py
Due: pylint-strategies

Make download strategies' return models stricter
  oteapi/strategies/download/file.py
  oteapi/strategies/download/https.py
  oteapi/strategies/download/sftp.py
Due: pylint-strategies

Don't use `dict()` for `*Config.configuration`
  oteapi/strategies/filter/crop_filter.py
Due: pylint-strategies

Use built-in classes where possible.
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/excel_xlsx.py
Due: pylint-strategies

Use nicer variable names
  oteapi/strategies/parse/excel_xlsx.py
Due: pylint-strategies

Session update model (#78)
  docs/api_reference/models/sessionupdate.md
  oteapi/interfaces/idownloadstrategy.py
  oteapi/interfaces/ifilterstrategy.py
  oteapi/interfaces/ifunctionstrategy.py
  oteapi/interfaces/imappingstrategy.py
  oteapi/interfaces/iparsestrategy.py
  oteapi/interfaces/iresourcestrategy.py
  oteapi/interfaces/itransformationstrategy.py
  oteapi/models/__init__.py
  oteapi/models/sessionupdate.py
  oteapi/strategies/download/file.py
  oteapi/strategies/download/https.py
  oteapi/strategies/download/sftp.py
  oteapi/strategies/filter/crop_filter.py
  oteapi/strategies/filter/sql_query_filter.py
  oteapi/strategies/parse/application_json.py
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/excel_xlsx.py
  oteapi/strategies/parse/image.py
  oteapi/strategies/parse/text_csv.py
  oteapi/strategies/transformation/celery_remote.py
  tests/strategies/filter/test_crop_filter.py
  tests/strategies/parse/test_application_json.py
Due: pylint, pylint-strategies, pylint-tests

Update tests for SessionUpdate
  oteapi/models/genericconfig.py
  tests/strategies/filter/test_crop_filter.py
  tests/strategies/parse/test_application_json.py
  tests/strategies/parse/test_image.py
Due: pylint, pylint-tests

Always use PIL in Image parser strategy
  .github/workflows/ci_tests.yml
  oteapi/strategies/parse/image.py
  tests/static/parsed_eps.eps
  tests/static/sample_700_400.eps
  tests/strategies/parse/test_image.py
Due: pylint-strategies, pylint-tests

Update mkdocstrings python handler to Griffe
  .github/workflows/ci_tests.yml
  oteapi/datacache/datacache.py
  oteapi/plugins/entry_points.py
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/image.py
  requirements_docs.txt
Due: pylint, pylint-strategies

Fix Windows file paths (removed starting /)
  oteapi/strategies/download/file.py
Due: pylint-strategies

Correctly remove initial slash in Windows Path
  oteapi/strategies/download/file.py
Due: pylint-strategies

Try to fix Windows test issues
  oteapi/strategies/download/file.py
  oteapi/strategies/parse/application_vnd_sqlite.py
  tests/strategies/parse/test_application_vnd_sqlite.py
  tests/strategies/parse/test_image.py
Due: pylint-strategies, pylint-tests

Add `FileNotFoundError` exception to ghostscript test
  tests/strategies/parse/test_image.py
Due: pylint-tests

Try to fix further Windows Path issues
  tests/strategies/download/test_file.py
  tests/strategies/download/test_sftp.py
Due: pylint-tests

Further Windows Path test fixes
  tests/strategies/download/test_sftp.py
Due: pylint-tests

Added support for dumping numpy arrays to the datacache
  oteapi/datacache/datacache.py
  tests/datacache/test_datacache.py
Due: pylint, pylint-tests

Only just json serialisation as a fallback for types not supported by diskcache
  oteapi/datacache/datacache.py
  tests/datacache/test_datacache.py
Due: pylint, pylint-tests

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^(tests|oteapi/strategies)/.*$)
  pylint-strategies: any of: ^oteapi/strategies/.*$ and \.py$
  pylint-tests: any of: ^tests/.*$ and \.py$
