Repository EMMC-ASBL/oteapi-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-strategies, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  language: python
  require_serial: true

pylint-strategies:
  name: pylint - oteapi/strategies/
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  - --disable=R,C
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  - --disable=C0415,W0621
  language: python
  require_serial: true

removed trailing whitespace
  docs/index.md
Due: none

made changes in the appropriate place README.md, rather than auto-generated docs/index.md
  README.md
  docs/index.md
Due: none

Removed all workflows using SINTEF ci-cd repo
  .github/workflows/removed_for_now/cd_release.yml
  .github/workflows/removed_for_now/ci_cd_updated_master.yml
  .github/workflows/removed_for_now/ci_dependabot.yml
Due: none

Can parse connection attributes directly from URL or from user-created field
  docs/api_reference/strategies/resource/application_vnd_postgres.md
  docs/api_reference/strategies/resource/postgres.md
  oteapi/strategies/resource/application_vnd_postgres.py
  oteapi/strategies/resource/postgres.py
Due: pylint-strategies

updated setup.cfg
  setup.cfg
Due: none

added psycopg to requirements
  requirements.txt
Due: none

small updates to testing notebook
  scratch_test-manually.ipynb
Due: none

removed --strict option
  .github/workflows/ci_tests.yml
Due: none

fixed error in writing mkdoc
  .github/workflows/ci_tests.yml
Due: none

Update README.md
  README.md
Due: none

docs align with README
  docs/index.md
Due: none

removed --strict option (#202)
  .github/workflows/ci_tests.yml
Due: none

Thomas Hagelien's URL parsing refactor implemented
  oteapi/strategies/resource/postgres.py
Due: pylint-strategies

linter cleanup
  oteapi/strategies/resource/postgres.py
  requirements.txt
  setup.cfg
Due: pylint-strategies

added working prototype of postgres test
  tests/__init__.py
  tests/datacache/__init__.py
  tests/models/__init__.py
  tests/plugins/__init__.py
  tests/static/__init__.py
  tests/strategies/__init__.py
  tests/strategies/resource/__init__.py
  tests/strategies/resource/test_postgres.py
  tests/utils/__init__.py
Due: pylint-tests

added ase to requirements
  requirements.txt
Due: none

removed __init__ files from test
  requirements.txt
  tests/__init__.py
  tests/datacache/__init__.py
  tests/models/__init__.py
  tests/plugins/__init__.py
  tests/static/__init__.py
  tests/strategies/__init__.py
  tests/strategies/resource/__init__.py
  tests/strategies/resource/test_postgres.py
  tests/utils/__init__.py
Due: pylint-tests

Comply with PEP484
  oteapi/datacache/datacache.py
  tasks.py
Due: pylint

Revert "removed --strict option (#202)"
  .github/workflows/ci_tests.yml
Due: none

Use 'options' instead of 'rendering' in API docs
  docs/api_reference/models/datacacheconfig.md
  docs/api_reference/models/filterconfig.md
  docs/api_reference/models/functionconfig.md
  docs/api_reference/models/genericconfig.md
  docs/api_reference/models/mappingconfig.md
  docs/api_reference/models/resourceconfig.md
  docs/api_reference/models/sessionupdate.md
  docs/api_reference/models/transformationconfig.md
  docs/api_reference/models/triplestoreconfig.md
  tasks.py
Due: pylint

Use pre-commit hooks from SINTEF/ci-cd
  .pre-commit-config.yaml
  docs/api_reference/models/datacacheconfig.md
  docs/api_reference/models/filterconfig.md
  docs/api_reference/models/functionconfig.md
  docs/api_reference/models/genericconfig.md
  docs/api_reference/models/mappingconfig.md
  docs/api_reference/models/resourceconfig.md
  docs/api_reference/models/sessionupdate.md
  docs/api_reference/models/transformationconfig.md
  docs/api_reference/models/triplestoreconfig.md
Due: none

Use callable workflows from SINTEF/ci-cd
  .github/utils/release_tag_msg.txt
  .github/utils/single_dependency_pr_body.txt
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
  requirements_docs.txt
  tasks.py
Due: pylint

Fix typo
  .github/workflows/ci_tests.yml
Due: none

Escape backticks
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_tests.yml
Due: none

Test setting `warnings_as_errors` to false
  .github/workflows/ci_tests.yml
Due: none

Revert "Test setting `warnings_as_errors` to false"
  .github/workflows/ci_tests.yml
Due: none

Made AttrDict weakref'able
  oteapi/models/genericconfig.py
Due: pylint

Updated documentation of prefixes in MappingConfig
  oteapi/models/mappingconfig.py
  oteapi/strategies/mapping/mapping.py
Due: pylint, pylint-strategies

Revert removing `--strict` and fix docs build (#204)
  .github/workflows/ci_tests.yml
  docs/api_reference/models/datacacheconfig.md
  docs/api_reference/models/filterconfig.md
  docs/api_reference/models/functionconfig.md
  docs/api_reference/models/genericconfig.md
  docs/api_reference/models/mappingconfig.md
  docs/api_reference/models/resourceconfig.md
  docs/api_reference/models/sessionupdate.md
  docs/api_reference/models/transformationconfig.md
  docs/api_reference/models/triplestoreconfig.md
  tasks.py
Due: pylint

Use SINTEF/ci-cd (#206)
  .github/utils/release_tag_msg.txt
  .github/utils/single_dependency_pr_body.txt
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
  requirements_docs.txt
  tasks.py
Due: pylint

Update oteapi/models/genericconfig.py
  oteapi/models/genericconfig.py
Due: pylint

Fixed failing tests in test_mapping.py
  tests/strategies/mapping/test_mapping.py
Due: pylint-tests

add optional secret to functionconfig and resourceconfig
  oteapi/models/functionconfig.py
  oteapi/models/resourceconfig.py
Due: pylint

introduce secretstr, update Field-descriptions
  oteapi/models/functionconfig.py
  oteapi/models/resourceconfig.py
  oteapi/models/transformationconfig.py
Due: pylint

add optional secret to functionconfig and resourceconfig (#212)
  oteapi/models/functionconfig.py
  oteapi/models/resourceconfig.py
  oteapi/models/transformationconfig.py
Due: pylint

Change `triples` to a Set
  oteapi/models/mappingconfig.py
  oteapi/strategies/mapping/mapping.py
  tests/strategies/mapping/test_mapping.py
Due: pylint, pylint-strategies, pylint-tests

Fix if session.triples is a list
  oteapi/strategies/mapping/mapping.py
  tests/strategies/mapping/test_mapping.py
Due: pylint-strategies, pylint-tests

Updated documentation of prefixes in MappingConfig (#209)
  oteapi/models/mappingconfig.py
  oteapi/strategies/mapping/mapping.py
  tests/strategies/mapping/test_mapping.py
Due: pylint, pylint-strategies, pylint-tests

Update docs/index.md
  docs/index.md
Due: none

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^(tests|oteapi/strategies)/.*$)
  pylint-strategies: any of: ^oteapi/strategies/.*$ and \.py$
  pylint-tests: any of: ^tests/.*$ and \.py$
