Repository EMMC-ASBL/oteapi-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-strategies, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --extension-pkg-whitelist='pydantic'
  language: python
  require_serial: true

pylint-strategies:
  name: pylint - oteapi/strategies/
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --extension-pkg-whitelist='pydantic'
  - --disable=R,C
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --extension-pkg-whitelist='pydantic'
  - --disable=C0415,W0621,import-error
  language: python
  require_serial: true

Update README with info about this branch
  README.md
  docs/index.md
Due: none

Update CI job for updating pyproject.toml
  .github/workflows/ci_check_dependencies.yml
Due: none

Correct minor spelling error
  oteapi/models/genericconfig.py
Due: pylint

Update dependabot and CI - Check dependencies
  .github/dependabot.yml
  .github/workflows/ci_check_dependencies.yml
Due: none

Extend CI - Check dependencies workflow
  .github/workflows/ci_check_dependencies.yml
Due: none

Fix markdown according to markdownlint
  README.md
  docs/index.md
Due: none

Note about pydantic major version split support
  README.md
  docs/index.md
Due: none

Update README with info about this branch (#345)
  README.md
  docs/index.md
Due: none

Use placeholder variable for current config
  oteapi/strategies/parse/postgres.py
Due: pylint-strategies

Update README to include info about pydantic v1 vs v2 (#353)
  README.md
  docs/index.md
Due: none

Update release and tests CI/CD workflows
  .github/workflows/cd_release.yml
  .github/workflows/ci_tests.yml
Due: none

Update to SINTEF/ci-cd v2.5.2
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_check_dependencies.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
Due: none

Further refactor adjust_url model validator
  oteapi/strategies/parse/postgres.py
Due: pylint-strategies

Update release and tests CI/CD workflows (#350)
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_check_dependencies.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
Due: none

Add comments according to code review
  .github/dependabot.yml
  .github/workflows/ci_check_dependencies.yml
Due: none

Fine tune the explanatory comments in CI workflow
  .github/workflows/ci_check_dependencies.yml
Due: none

Update CI/CD workflows for updating dependencies (#351)
  .github/dependabot.yml
  .github/workflows/ci_check_dependencies.yml
Due: none

Use collections.abc instead of typing
  oteapi/datacache/datacache.py
  oteapi/models/genericconfig.py
  oteapi/plugins/entry_points.py
  oteapi/strategies/parse/excel_xlsx.py
  oteapi/strategies/parse/text_csv.py
  tests/conftest.py
  tests/plugins/conftest.py
  tests/plugins/test_entry_points.py
  tests/plugins/test_entry_points_entrypointstrategy.py
  tests/plugins/test_factories.py
Due: pylint, pylint-strategies, pylint-tests

Apply suggestions from code review
  .github/workflows/ci_check_dependencies.yml
  oteapi/models/genericconfig.py
  oteapi/models/secretconfig.py
  oteapi/models/triplestoreconfig.py
  oteapi/plugins/factories.py
  oteapi/strategies/transformation/celery_remote.py
  pyproject.toml
  tests/models/test_functionconfig.py
  tests/models/test_genericconfig.py
  tests/models/test_secretconfig.py
  tests/models/test_triplestoreconfig.py
Due: pylint, pylint-strategies, pylint-tests

Add 'pydantic-v1' label to dependabot PRs
  .github/dependabot.yml
Due: none

Extend and add method tests for AttrDict
  tests/models/test_genericconfig.py
Due: pylint-tests

Add reference to issue about urllib3 constraint
  .github/workflows/ci_check_dependencies.yml
  pyproject.toml
Due: none

Update comments and doc strings
  oteapi/plugins/factories.py
  tests/models/test_functionconfig.py
  tests/models/test_genericconfig.py
  tests/models/test_secretconfig.py
  tests/models/test_triplestoreconfig.py
Due: pylint, pylint-tests

Fix incorrect value in CI workflow input
  .github/workflows/ci_check_dependencies.yml
Due: none

Upgrade to pydantic v2 (#330)
  .github/dependabot.yml
  .github/workflows/ci_check_dependencies.yml
  .pre-commit-config.yaml
  oteapi/datacache/datacache.py
  oteapi/models/__init__.py
  oteapi/models/genericconfig.py
  oteapi/models/resourceconfig.py
  oteapi/models/secretconfig.py
  oteapi/models/triplestoreconfig.py
  oteapi/plugins/entry_points.py
  oteapi/plugins/factories.py
  oteapi/settings.py
  oteapi/strategies/download/file.py
  oteapi/strategies/download/https.py
  oteapi/strategies/download/sftp.py
  oteapi/strategies/filter/crop_filter.py
  oteapi/strategies/filter/sql_query_filter.py
  oteapi/strategies/parse/application_json.py
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/excel_xlsx.py
  oteapi/strategies/parse/image.py
  oteapi/strategies/parse/postgres.py
  oteapi/strategies/parse/text_csv.py
  oteapi/strategies/transformation/celery_remote.py
  oteapi/utils/paths.py
  pyproject.toml
  tests/conftest.py
  tests/models/test_functionconfig.py
  tests/models/test_genericconfig.py
  tests/models/test_secretconfig.py
  tests/models/test_triplestoreconfig.py
  tests/plugins/conftest.py
  tests/plugins/test_entry_points.py
  tests/plugins/test_entry_points_entrypointstrategy.py
  tests/plugins/test_factories.py
  tests/strategies/download/test_https.py
  tests/strategies/parse/test_application_json.py
  tests/strategies/parse/test_postgres.py
  tests/strategies/parse/test_text_csv.py
  tests/strategies/transformation/test_celery_remote.py
Due: pylint, pylint-strategies, pylint-tests

Implement PEP 508 regex for package_name
  oteapi/plugins/entry_points.py
Due: pylint

Extend test to test new regex
  tests/plugins/test_entry_points_entrypointstrategy.py
Due: pylint-tests

Implement PEP 508 regex for package_name (#362)
  oteapi/plugins/entry_points.py
  tests/plugins/test_entry_points_entrypointstrategy.py
Due: pylint, pylint-tests

Fix workflow ignore rules key name
  .github/workflows/ci_check_dependencies.yml
Due: none

Fix workflow ignore rules key name (#364)
  .github/workflows/ci_check_dependencies.yml
Due: none

Use branch_name_extension for CI update deps
  .github/workflows/ci_check_dependencies.yml
Due: none

Automatically merge CI - check dependencies PRs
  .github/workflows/ci_automerge_dependabot.yml
Due: none

Use `branch_name_extension` and auto-merge dependency PRs (#369)
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_check_dependencies.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
Due: none

Apply suggestions from code review
  pyproject.toml
Due: none

Add branch name extension for regular CI job
  .github/workflows/ci_check_dependencies.yml
Due: none

TEMP: Run CI workflow on push
  .github/workflows/ci_check_dependencies.yml
Due: none

TEMP: Update if condition
  .github/workflows/ci_check_dependencies.yml
Due: none

Update job names to be clearer
  .github/workflows/ci_check_dependencies.yml
Due: none

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^(tests|oteapi/strategies)/.*$)
  pylint-strategies: any of: ^oteapi/strategies/.*$ and \.py$
  pylint-tests: any of: ^tests/.*$ and \.py$
