Repository EMMC-ASBL/oteapi-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-strategies, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  language: python
  require_serial: true

pylint-strategies:
  name: pylint - oteapi/strategies/
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  - --disable=R,C
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  - --disable=C0415,W0621
  language: python
  require_serial: true

Satisfy mypy for factories
  docs/api_reference/.pages
  docs/api_reference/datacache/.pages
  docs/api_reference/interfaces/.pages
  docs/api_reference/models/.pages
  docs/api_reference/plugins/.pages
  docs/api_reference/strategies/.pages
  docs/api_reference/strategies/download/.pages
  docs/api_reference/strategies/filter/.pages
  docs/api_reference/strategies/parse/.pages
  docs/api_reference/strategies/transformation/.pages
  oteapi/interfaces/idownloadstrategy.py
  oteapi/interfaces/ifilterstrategy.py
  oteapi/interfaces/imappingstrategy.py
  oteapi/interfaces/iparsestrategy.py
  oteapi/interfaces/iresourcestrategy.py
  oteapi/interfaces/itransformationstrategy.py
  oteapi/plugins/factories.py
Due: pylint

Rely on pydantic.Field for model documentation.
  oteapi/models/datacacheconfig.py
  oteapi/models/filterconfig.py
  oteapi/models/mappingconfig.py
  oteapi/models/resourceconfig.py
  oteapi/models/transformationconfig.py
  oteapi/strategies/filter/crop_filter.py
  oteapi/strategies/filter/sql_query_filter.py
  oteapi/strategies/parse/excel_xlsx.py
  oteapi/strategies/transformation/celery_remote.py
Due: pylint, pylint-strategies

Remove `read()` method from download strategy
  oteapi/interfaces/idownloadstrategy.py
  oteapi/plugins/factories.py
Due: pylint

Extend pre-commit with docs hooks
  .pre-commit-config.yaml
  docs/api_reference/models/datacacheconfig.md
  docs/api_reference/models/downloadconfig.md
  tasks.py
Due: pylint

Update python doc strings
  oteapi/models/datacacheconfig.py
  oteapi/models/filterconfig.py
  oteapi/models/mappingconfig.py
  oteapi/models/resourceconfig.py
  oteapi/models/transformationconfig.py
  oteapi/plugins/factories.py
Due: pylint

Update CI tests
  .github/workflows/ci_tests.yml
Due: none

Extend CI/CD jobs with documentation updates
  .github/utils/update_publish.sh
  .github/workflows/cd_release.yml
  .github/workflows/ci_cd_updated_master.yml
Due: none

Comment out unused env var in CI/CD workflow
  .github/workflows/ci_cd_updated_master.yml
Due: none

Set default version to latest with mike 1.1.2
  index.html
Due: none

Quick fix
  oteapi/datacache/datacache.py
Due: pylint

Return to strategy interface signature
  oteapi/strategies/download/file.py
  oteapi/strategies/download/https.py
  oteapi/strategies/download/sftp.py
  oteapi/strategies/filter/crop_filter.py
  oteapi/strategies/filter/sql_query_filter.py
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/excel_xlsx.py
  oteapi/strategies/parse/image_jpeg.py
  oteapi/strategies/parse/text_csv.py
  oteapi/strategies/parse/text_json.py
  oteapi/strategies/transformation/celery_remote.py
Due: pylint-strategies

Add sentence directing people to docs
  README.md
  docs/index.md
Due: none

Implement CI/CD for dependabot
  .github/dependabot.yml
  .github/utils/single_dependency_pr_body.txt
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_dependabot.yml
Due: none

Use only `CI/CD` label for dependabot
  .github/dependabot.yml
  .github/workflows/ci_dependabot.yml
Due: none

Removed asyncio from datacache
  oteapi/datacache/datacache.py
Due: pylint

Apply suggestions from code review
  oteapi/datacache/datacache.py
Due: pylint

Apply suggestions from code review by Casper
  oteapi/datacache/datacache.py
Due: pylint

Apply suggestions from code review from Casper
  oteapi/datacache/datacache.py
Due: pylint

Remove asyncio from datacache (#32)
  oteapi/datacache/datacache.py
Due: pylint

Let user set local path in JPEG parse strategy
  oteapi/strategies/parse/image_jpeg.py
Due: pylint-strategies

Add test of SQL parse strategy
  tests/strategies/parse/sample1.db
  tests/strategies/parse/test_application_vnd_sqlite.py
Due: pylint-tests

Update existing tests
  tests/datacache/test_datacache.py
  tests/models/test_resourceconfig.py
Due: pylint-tests

Add test of JPEG parse strategy
  tests/strategies/parse/sample_700_400.jpeg
  tests/strategies/parse/test_image_jpeg.py
  tests/strategies/sample_1280_853.jpeg
Due: pylint-tests

Correct JSON MIME type, and test on local file
  oteapi/strategies/parse/application_json.py
  tests/strategies/parse/test_json.py
  tests/strategies/parse/test_text_json.py
  tests/strategies/sample2.json
Due: pylint-strategies, pylint-tests

Modify conftest input to pytest
  tests/conftest.py
  tests/strategies/conftest.py
Due: pylint-tests

Fix the 'file' download strategy
  oteapi/strategies/download/file.py
Due: pylint-strategies

Add test of 'file' download strategy
  tests/strategies/download/test_file.py
Due: pylint-tests

Add test of 'https'/'http' download strategy
  tests/strategies/download/test_https.py
Due: pylint-tests

Update requirements_dev.txt
  requirements_dev.txt
Due: none

Use new TEAM 4.0 email address
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_dependabot.yml
Due: none

Implement CI/CD for dependabot (#33)
  .github/dependabot.yml
  .github/utils/single_dependency_pr_body.txt
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_dependabot.yml
Due: none

Use the updated @TEAM4-0 email address
  .github/workflows/cd_release.yml
  oteapi/__init__.py
Due: pylint

Install the `dev` extra in publish workflow
  .github/workflows/cd_release.yml
Due: none

Add pytest options to pyproject.toml
  pyproject.toml
Due: none

Install the `dev` extra in publish workflow (#41)
  .github/workflows/cd_release.yml
Due: none

Use the updated @TEAM4-0 email address (#39)
  .github/workflows/cd_release.yml
  oteapi/__init__.py
Due: pylint

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^(tests|oteapi/strategies)/.*$)
  pylint-strategies: any of: ^oteapi/strategies/.*$ and \.py$
  pylint-tests: any of: ^tests/.*$ and \.py$
