Repository EMMC-ASBL/oteapi-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-strategies, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --extension-pkg-whitelist='pydantic'
  language: python
  require_serial: true

pylint-strategies:
  name: pylint - oteapi/strategies/
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --extension-pkg-whitelist='pydantic'
  - --disable=R,C
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --extension-pkg-whitelist='pydantic'
  - --disable=C0415,W0621,import-error
  language: python
  require_serial: true

revert test_text_csv
  oteapi/strategies/download/sftp.py
  tests/strategies/parse/test_text_csv.py
Due: pylint-strategies, pylint-tests

fix tests
  tests/strategies/mapping/test_mapping.py
  tests/strategies/parse/test_application_json.py
  tests/strategies/parse/test_text_csv.py
Due: pylint-tests

Update registering test strategies
  tests/plugins/conftest.py
  tests/plugins/test_factories.py
  tests/static/strategies/parse.py
Due: pylint-tests

Update image and cropfilter strategies
  docs/api_reference/strategies/parse/image.md
  oteapi/strategies/filter/crop_filter.py
  oteapi/strategies/parse/application_json.py
  oteapi/strategies/parse/image.py
  pyproject.toml
  tests/strategies/filter/test_crop_filter.py
  tests/strategies/parse/test_application_json.py
  tests/strategies/parse/test_image.py
  tests/strategies/parse/test_image.pyFIXME
Due: pylint-strategies, pylint-tests

Rename FIXME files
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/excel_xlsx.py
  pyproject.toml
  tests/strategies/parse/test_application_vnd_sqlite.py
Due: pylint-strategies, pylint-tests

Fix up sqlite and excel parse strategies
  docs/api_reference/strategies/parse/application_vnd_sqlite.md
  docs/api_reference/strategies/parse/excel_xlsx.md
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/excel_xlsx.py
  oteapi/strategies/parse/image.py
  pyproject.toml
  tests/strategies/parse/test_application_vnd_sqlite.py
Due: pylint-strategies, pylint-tests

fix test_celery_remote
  tests/strategies/transformation/test_celery_remote.py
Due: pylint-tests

fix tests
  tests/strategies/transformation/test_celery_remote.py
Due: pylint-tests

Fix doc-string indentation
  oteapi/plugins/factories.py
Due: pylint

Update oteapi/strategies/parse/application_json.py
  oteapi/strategies/parse/application_json.py
Due: pylint-strategies

Update tests/strategies/transformation/test_celery_remote.py
  tests/strategies/transformation/test_celery_remote.py
Due: pylint-tests

Update postgresql strategy
  oteapi/strategies/parse/postgres.py
  pyproject.toml
  tests/strategies/parse/test_postgres.py
Due: pylint-strategies, pylint-tests

Update csv parser
  oteapi/strategies/parse/image.py
  oteapi/strategies/parse/text_csv.py
  pyproject.toml
  tests/strategies/parse/test_text_csv.py
Due: pylint-strategies, pylint-tests

requested changes
  oteapi/strategies/download/file.py
  oteapi/strategies/filter/crop_filter.py
  oteapi/strategies/filter/sql_query_filter.py
  oteapi/strategies/parse/application_json.py
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/excel_xlsx.py
  oteapi/strategies/parse/image.py
  oteapi/strategies/parse/text_csv.py
  oteapi/strategies/resource/resource_url.py
  oteapi/strategies/transformation/celery_remote.py
  pyproject.toml
  tests/strategies/download/test_file.py
  tests/strategies/download/test_https.py
  tests/strategies/download/test_sftp.py
  tests/strategies/parse/test_text_csv.py
Due: pylint-strategies, pylint-tests

requested changes
  oteapi/strategies/download/file.py
  tests/strategies/download/test_file.py
  tests/strategies/parse/test_text_csv.py
Due: pylint-strategies, pylint-tests

Fix config in csv test
  tests/strategies/parse/test_text_csv.py
Due: pylint-tests

Added IRIs as extra field properties in datamodels
  oteapi/models/datacacheconfig.py
  oteapi/models/filterconfig.py
  oteapi/models/mappingconfig.py
  oteapi/models/parserconfig.py
  oteapi/models/resourceconfig.py
  oteapi/models/secretconfig.py
  oteapi/models/transformationconfig.py
  oteapi/strategies/parse/application_json.py
Due: pylint, pylint-strategies

reset DataCacheConfig signature
  oteapi/models/datacacheconfig.py
Due: pylint

Update oteapi/models/resourceconfig.py
  oteapi/models/resourceconfig.py
Due: pylint

Update oteapi/models/filterconfig.py
  oteapi/models/filterconfig.py
Due: pylint

Update oteapi/models/datacacheconfig.py
  oteapi/models/datacacheconfig.py
Due: pylint

Update oteapi/models/transformationconfig.py
  oteapi/models/transformationconfig.py
Due: pylint

Added example and IRI fields
  oteapi/models/resourceconfig.py
Due: pylint

Update pyproject.toml
  pyproject.toml
Due: none

Update resource/url strategy
  oteapi/strategies/resource/resource_url.py
  tests/strategies/resource/test_resource_url.py
Due: pylint-strategies, pylint-tests

Update resource/url strategy (#440)
  oteapi/strategies/resource/resource_url.py
  tests/strategies/resource/test_resource_url.py
Due: pylint-strategies, pylint-tests

Ensure config models are dumped safely
  oteapi/plugins/factories.py
Due: pylint

Ensure config models are dumped safely (#443)
  oteapi/plugins/factories.py
Due: pylint

pytest v8.1 was yanked from pypi
  pyproject.toml
Due: none

adding initial test of using json-ld for rdf serialisation
  tests/models/test_jsonld.py
Due: pylint-tests

Use pytest-cov v5 as min
  pyproject.toml
Due: none

Remove retuning value in genericconfig __delattr__
  oteapi/models/genericconfig.py
Due: pylint

Update to use the new v1.0 of pytest-celery
  pyproject.toml
  tests/strategies/transformation/test_celery_remote.py
Due: pylint-tests

Include check for Windows in celery_remote test
  tests/strategies/transformation/test_celery_remote.py
Due: pylint-tests

Add ignore safety vulnerability
  .github/workflows/ci_tests.yml
Due: none

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^(tests|oteapi/strategies)/.*$)
  pylint-strategies: any of: ^oteapi/strategies/.*$ and \.py$
  pylint-tests: any of: ^tests/.*$ and \.py$
