Repository EMMC-ASBL/oteapi-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-app, pylint-plugins

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
exclude: '^(\.tox|ci/templates|\.bumpversion\.cfg|env)(/|$)'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: debug-statements
  - repo: https://github.com/timothycrosley/isort
    rev: 5.10.0
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files", "--skip-gitignore"]
  - repo: https://github.com/ambv/black
    rev: 21.10b0
    hooks:
    - id: black
      language_version: python3.7
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.0
    hooks:
    - id: bandit
      files: ^app/.*$
  - repo: local
    hooks:
    - id: pylint-app
      name: pylint - app/
      entry: pylint
      args: ["--rcfile=.pylintrc", "--extension-pkg-whitelist='pydantic'"]
      language: python
      types: [python]
      require_serial: true
      files: ^app/.*$
    - id: pylint-plugins
      name: pylint - plugins/
      entry: pylint
      args: ["--rcfile=.pylintrc", "--extension-pkg-whitelist='pydantic'", "--disable=R,C"]
      language: python
      types: [python]
      require_serial: true
      files: ^plugins/.*$

Added downloadDir configuration to excel parser.
  Dockerfile
  plugins/parse_strategy/excel_xlsx.py
Due: pylint-plugins

Accepted changes made by blacken
  plugins/parse_strategy/excel_xlsx.py
Due: pylint-plugins

Changed downloadDir to download_dir
  Dockerfile
  plugins/parse_strategy/excel_xlsx.py
Due: pylint-plugins

Updated XLSXParseDataModel to consistent case style
  plugins/parse_strategy/excel_xlsx.py
Due: pylint-plugins

Updated requirements
  requirements.txt
Due: none

Removed download_dir from the excel parser configurations
  Dockerfile
  plugins/parse_strategy/excel_xlsx.py
Due: pylint-plugins

Changed parse() to return column-name/column-value pairs. Removed parse_recarray()
  plugins/parse_strategy/excel_xlsx.py
Due: pylint-plugins

Updated required version of celery to 5.2.2 because of a volubility
  requirements.txt
Due: none

Initial attempt to call downloadstrategy from a parser
  plugins.yml
  plugins/download_strategy/file.py
  plugins/parse_strategy/excel_xlsx.py
Due: pylint-plugins

Fail loudly if downloadUrl is None
  plugins/download_strategy/file.py
Due: pylint-plugins

Added file data cache module and updated the download and parser strategies to use it.
  app/cache/cache.py
  app/models/downloadconfig.py
  app/models/resourceconfig.py
  plugins/download_strategy/file.py
  plugins/download_strategy/https.py
  plugins/download_strategy/sftp.py
  plugins/parse_strategy/excel_xlsx.py
  plugins/parse_strategy/text_json.py
  requirements.txt
  tests/app/cache/test_cache.py
  tests/plugins/parse_strategy/test_text_json.py
Due: pylint-app, pylint-plugins

Cleanup - made more cache operations asyncio-compatiple - removed unnessesary initialiser in json parser - enclosed the cache and json tests in test functions
  app/cache/cache.py
  plugins/parse_strategy/text_json.py
  tests/app/cache/test_cache.py
  tests/plugins/parse_strategy/test_text_json.py
Due: pylint-app, pylint-plugins

Added initialize() to plugins
  plugins/download_strategy/file.py
  plugins/download_strategy/https.py
  plugins/download_strategy/sftp.py
  plugins/parse_strategy/excel_xlsx.py
  plugins/parse_strategy/text_json.py
Due: pylint-plugins

Add in all entry points from plugins.yml
  Dockerfile
  plugins.yml
  setup.py
Due: none

Fix setting up entry points
  setup.py
Due: none

Reinstate redis plugin to app
  oteapi/app/__init__.py
Due: none

Add description of setting entry points in this repo
  README.md
Due: none

Run pre-commit and remove unused `entry_point.py`
  oteapi/app/strategy/entry_point.py
  oteapi/app/strategy/itransformationstrategy.py
  oteapi/plugins/transformation_strategy/celery_remote.py
  oteapi/plugins/transformation_strategy/dlite_transformation.py
  oteapi/plugins/transformation_strategy/dummyplugin.py
  setup.py
Due: none

Update pre-commit hooks with new repo structure
  .pre-commit-config.yaml
Due: none

Use setup.cfg instead of plugins.yml
  plugins.yml
  requirements.txt
  setup.cfg
  setup.py
Due: none

Update Dockerfile to ensure the package can install
  Dockerfile
Due: none

Remove line from README - not valid anymore
  README.md
Due: none

Removed strategies that should not go to oteapi-core
  cache/compevo/porefraction.py
  plugins/filter_strategy/compevo_crop_filter.py
  plugins/mapping_strategy/compevo_map.py
  plugins/transformation_strategy/compevo_result.py
  plugins/transformation_strategy/compevo_wrap_porefraction.py
  python_mapping_plugins/blob2image.py
Due: pylint-plugins

Removed files
  .dockerignore
  .env.example
  .gitlab-ci.yml
Due: none

Removed pre-commit hook
  .pre-commit-config.yaml
Due: none

Removed .vscode and .devcontainer
  .devcontainer/devcontainer.json
  .vscode/settings.json
Due: none

Renamed cache to datacache and updated all strategy plugins
  oteapi/datacache/__init__.py
  oteapi/datacache/datacache.py
  oteapi/strategies/download_strategy/file.py
  oteapi/strategies/download_strategy/https.py
  oteapi/strategies/download_strategy/sftp.py
  oteapi/strategies/filter_strategy/crop_filter.py
  oteapi/strategies/filter_strategy/demo_filter.py
  oteapi/strategies/filter_strategy/sql_query_filter.py
  oteapi/strategies/mapping_strategy/demo_mapping.py
  oteapi/strategies/parse_strategy/application_vnd_sqlite.py
  oteapi/strategies/parse_strategy/atomistic_structures.py
  oteapi/strategies/parse_strategy/dlite_image_jpeg.py
  oteapi/strategies/parse_strategy/excel_xlsx.py
  oteapi/strategies/parse_strategy/text_csv.py
  oteapi/strategies/parse_strategy/text_json.py
  oteapi/strategies/resource_strategy/demo_resource.py
  oteapi/strategies/transformation_strategy/calculate_molecule_energy.py
  oteapi/strategies/transformation_strategy/calculate_reaction_energy.py
Due: none

Reverted renaming of strategies to plugins
  oteapi/pluginlib/__init__.py
  oteapi/plugins/__init__.py
  oteapi/plugins/download_strategy/__init__.py
  oteapi/plugins/download_strategy/file.py
  oteapi/plugins/download_strategy/https.py
  oteapi/plugins/download_strategy/sftp.py
  oteapi/plugins/filter_strategy/__init__.py
  oteapi/plugins/filter_strategy/crop_filter.py
  oteapi/plugins/filter_strategy/demo_filter.py
  oteapi/plugins/filter_strategy/sql_query_filter.py
  oteapi/plugins/mapping_strategy/__init__.py
  oteapi/plugins/mapping_strategy/demo_mapping.py
  oteapi/plugins/parse_strategy/__init__.py
  oteapi/plugins/parse_strategy/application_vnd_sqlite.py
  oteapi/plugins/parse_strategy/atomistic_structures.py
  oteapi/plugins/parse_strategy/dlite_image_jpeg.py
  oteapi/plugins/parse_strategy/excel_xlsx.py
  oteapi/plugins/parse_strategy/image_jpeg.py
  oteapi/plugins/parse_strategy/text_csv.py
  oteapi/plugins/parse_strategy/text_json.py
  oteapi/plugins/resource_strategy/__init__.py
  oteapi/plugins/resource_strategy/demo_resource.py
  oteapi/plugins/transformation_strategy/__init__.py
  oteapi/plugins/transformation_strategy/calculate_molecule_energy.py
  oteapi/plugins/transformation_strategy/calculate_reaction_energy.py
  oteapi/plugins/transformation_strategy/celery_remote.py
  oteapi/plugins/transformation_strategy/dlite_transformation.py
  oteapi/plugins/transformation_strategy/dummyplugin.py
Due: none

Update setup.py to contain the correct team4.0 email address
  setup.py
Due: none

Renamed plugins to interfaces
  oteapi/strategies/__init__.py
  oteapi/strategies/download_strategy/__init__.py
  oteapi/strategies/download_strategy/file.py
  oteapi/strategies/download_strategy/https.py
  oteapi/strategies/download_strategy/sftp.py
  oteapi/strategies/filter_strategy/__init__.py
  oteapi/strategies/filter_strategy/crop_filter.py
  oteapi/strategies/filter_strategy/demo_filter.py
  oteapi/strategies/filter_strategy/sql_query_filter.py
  oteapi/strategies/mapping_strategy/__init__.py
  oteapi/strategies/mapping_strategy/demo_mapping.py
  oteapi/strategies/parse_strategy/__init__.py
  oteapi/strategies/parse_strategy/application_vnd_sqlite.py
  oteapi/strategies/parse_strategy/atomistic_structures.py
  oteapi/strategies/parse_strategy/dlite_image_jpeg.py
  oteapi/strategies/parse_strategy/excel_xlsx.py
  oteapi/strategies/parse_strategy/image_jpeg.py
  oteapi/strategies/parse_strategy/text_csv.py
  oteapi/strategies/parse_strategy/text_json.py
  oteapi/strategies/resource_strategy/__init__.py
  oteapi/strategies/resource_strategy/demo_resource.py
  oteapi/strategies/transformation_strategy/__init__.py
  oteapi/strategies/transformation_strategy/calculate_molecule_energy.py
  oteapi/strategies/transformation_strategy/calculate_reaction_energy.py
  oteapi/strategies/transformation_strategy/celery_remote.py
  oteapi/strategies/transformation_strategy/dlite_transformation.py
  oteapi/strategies/transformation_strategy/dummyplugin.py
Due: none

Added README to oteapi directory
  oteapi/README.md
Due: none

Update README.md
  oteapi/README.md
Due: none

Cleaned up tests folder
  tests/app/models/__init__.py
  tests/datacache/test_datacache.py
  tests/dummycache.py
  tests/models/__init__.py
  tests/models/test_resourceconfig.py
  tests/strategies/parse_strategy/test_text_json.py
  tests/test_filter.py
  tests/test_mapping.py
  tests/test_session.py
  tests/test_transformation.py
Due: none

Made the test_datacache work!
  oteapi/datacache/datacache.py
Due: none

Removed tests/entities
  tests/entities/Configuration.json
  tests/entities/Image.json
  tests/entities/Molecule.json
  tests/entities/PoreFraction.json
  tests/entities/person.json
Due: none

Create package init file
  oteapi/__init__.py
Due: none

Add install and build files according to PyPI
  MANIFEST.in
  pyproject.toml
  setup.py
Due: none
