Repository EMMC-ASBL/oteapi-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-strategies, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --extension-pkg-whitelist='pydantic'
  language: python
  require_serial: true

pylint-strategies:
  name: pylint - oteapi/strategies/
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --extension-pkg-whitelist='pydantic'
  - --disable=R,C
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --extension-pkg-whitelist='pydantic'
  - --disable=C0415,W0621,import-error
  language: python
  require_serial: true

Apply suggestions from code review
  pyproject.toml
Due: none

Revert "TEMP: Update if condition"
  .github/workflows/ci_check_dependencies.yml
Due: none

Revert "TEMP: Run CI workflow on push"
  .github/workflows/ci_check_dependencies.yml
Due: none

Write specifier in a more compact way
  pyproject.toml
Due: none

Add branch name extension for CI workflow (#376)
  .github/workflows/ci_check_dependencies.yml
Due: none

Conform pre-commit dependency
  pyproject.toml
Due: none

Use intra-reference for optional dependencies
  pyproject.toml
Due: none

Remove ruff CI job
  .github/workflows/ci_tests.yml
Due: none

Started on list of existing plugins
  README.md
  docs/index.md
Due: none

Use at minimum pytest v8
  pyproject.toml
Due: none

Revert "Bump codecov/codecov-action from 3 to 4 (#419)"
  .github/workflows/ci_tests.yml
Due: none

WIP
  docs/api_reference/models/sessionupdate.md
  docs/api_reference/strategies/parse/application_vnd_sqlite.md
  docs/api_reference/strategies/parse/excel_xlsx.md
  docs/api_reference/strategies/parse/image.md
  oteapi/interfaces/idownloadstrategy.py
  oteapi/interfaces/ifilterstrategy.py
  oteapi/interfaces/ifunctionstrategy.py
  oteapi/interfaces/imappingstrategy.py
  oteapi/interfaces/iparsestrategy.py
  oteapi/interfaces/iresourcestrategy.py
  oteapi/interfaces/itransformationstrategy.py
  oteapi/models/__init__.py
  oteapi/models/sessionupdate.py
  oteapi/plugins/__init__.py
  oteapi/plugins/entry_points.py
  oteapi/plugins/factories.py
  oteapi/strategies/download/file.py
  oteapi/strategies/download/https.py
  oteapi/strategies/download/sftp.py
  oteapi/strategies/filter/crop_filter.py
  oteapi/strategies/filter/sql_query_filter.py
  oteapi/strategies/mapping/mapping.py
  oteapi/strategies/parse/application_json.py
  oteapi/strategies/parse/application_vnd_sqlite.py.FIXME
  oteapi/strategies/parse/excel_xlsx.py.FIXME
  oteapi/strategies/parse/image.py.FIXME
  oteapi/strategies/parse/postgres.py
  oteapi/strategies/parse/text_csv.py
  oteapi/strategies/transformation/celery_remote.py
  oteapi/utils/config_updater.py
  pyproject.toml
  tests/static/strategies/download.py
  tests/static/strategies/filter.py
  tests/static/strategies/function.py
  tests/static/strategies/mapping.py
  tests/static/strategies/parse.py
  tests/static/strategies/resource.py
  tests/static/strategies/transformation.py
  tests/strategies/download/test_file.py
Due: pylint, pylint-strategies, pylint-tests

Add codecov token
  .github/workflows/ci_tests.yml
Due: none

improve test and change startegyType
  oteapi/plugins/entry_points.py
  tests/strategies/parse/test_application_json.py
Due: pylint, pylint-tests

update configuration in parser/json
  oteapi/strategies/parse/application_json.py
  pyproject.toml
Due: pylint-strategies

remove unnecessary log statements
  oteapi/strategies/parse/application_json.py
Due: pylint-strategies

Create test_catalog_to_delete
  test_catalog_to_delete
Due: none

add resource strategy
  oteapi/models/resourceconfig.py
  oteapi/plugins/entry_points.py
  oteapi/strategies/resource/resource_url.py
  pyproject.toml
Due: pylint, pylint-strategies

fix initialize
  oteapi/strategies/resource/resource_url.py
  test_catalog_to_delete
Due: pylint-strategies

update parser config and json plugin
  oteapi/models/parserconfig.py
  oteapi/strategies/parse/application_json.py
Due: pylint, pylint-strategies

Added additional descriptive fields to ResourceConfig
  oteapi/models/genericconfig.py
  oteapi/models/resourceconfig.py
Due: pylint

Added examples to the resource config fields.
  oteapi/models/resourceconfig.py
Due: pylint

fix pre-commit
  docs/api_reference/strategies/resource/resource_url.md
  oteapi/models/parserconfig.py
  oteapi/models/resourceconfig.py
  oteapi/plugins/__init__.py
  oteapi/strategies/parse/application_json.py
  oteapi/strategies/parse/postgres.py
  oteapi/strategies/resource/resource_url.py
  tests/strategies/parse/test_application_json.py
Due: pylint, pylint-strategies, pylint-tests

fix pre-commit
  oteapi/strategies/resource/resource_url.py
  tests/strategies/parse/test_application_json.py
Due: pylint-strategies, pylint-tests

fix pre-commit
  oteapi/strategies/resource/resource_url.py
Due: pylint-strategies

fix pre-commit
  oteapi/strategies/resource/resource_url.py
  tests/strategies/parse/test_application_vnd_sqlite.pyFIXME
  tests/strategies/parse/test_image.pyFIXME
Due: pylint-strategies

fix pytest
  tests/strategies/filter/test_crop_filter.py
  tests/strategies/mapping/test_mapping.py
  tests/strategies/transformation/test_celery_remote.py
Due: pylint-tests

fix tests
  tests/strategies/download/test_https.py
  tests/strategies/download/test_sftp.py
Due: pylint-tests

fix transformation and parser tests
  tests/strategies/parse/test_application_json.py
  tests/strategies/parse/test_postgres.py
  tests/strategies/parse/test_text_csv.py
  tests/strategies/transformation/test_celery_remote.py
Due: pylint-tests

fix postgres test
  tests/strategies/parse/test_postgres.py
Due: pylint-tests

fix tests
  tests/plugins/test_entry_points.py
  tests/plugins/test_factories.py
  tests/strategies/download/test_https.py
  tests/strategies/download/test_sftp.py
  tests/strategies/parse/test_application_json.py
  tests/strategies/parse/test_postgres.py
Due: pylint-tests

fix tests
  oteapi/strategies/parse/application_json.py
  tests/strategies/transformation/test_celery_remote.py
  tests/utils/test_config_updater.py
Due: pylint-strategies, pylint-tests

fix config updater test
  tests/utils/test_config_updater.py
Due: pylint-tests

fix entrypoint test
  tests/plugins/test_entry_points.py
  tests/strategies/parse/test_postgres.py
  tests/strategies/parse/test_text_csv.py
Due: pylint-tests

update config updater
  oteapi/utils/config_updater.py
  tests/utils/test_config_updater.py
Due: pylint, pylint-tests

Add in requested changes
  oteapi/strategies/download/file.py
  oteapi/strategies/download/https.py
  oteapi/strategies/download/sftp.py
  oteapi/strategies/filter/crop_filter.py
  oteapi/strategies/filter/sql_query_filter.py
  oteapi/strategies/mapping/mapping.py
  oteapi/strategies/parse/application_json.py
  oteapi/strategies/parse/application_vnd_sqlite.py.FIXME
  oteapi/strategies/parse/excel_xlsx.py.FIXME
  oteapi/strategies/parse/image.py.FIXME
  oteapi/strategies/parse/postgres.py
  oteapi/strategies/parse/text_csv.py
  oteapi/strategies/transformation/celery_remote.py
  oteapi/utils/config_updater.py
  tests/static/strategies/download.py
  tests/static/strategies/filter.py
  tests/static/strategies/function.py
  tests/static/strategies/mapping.py
  tests/static/strategies/parse.py
  tests/static/strategies/resource.py
  tests/strategies/download/test_https.py
  tests/strategies/download/test_sftp.py
  tests/strategies/parse/test_postgres.py
  tests/strategies/parse/test_text_csv.py
  tests/utils/test_config_updater.py
Due: pylint, pylint-strategies, pylint-tests

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^(tests|oteapi/strategies)/.*$)
  pylint-strategies: any of: ^oteapi/strategies/.*$ and \.py$
  pylint-tests: any of: ^tests/.*$ and \.py$
