Repository EMMC-ASBL/oteapi-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-strategies, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  language: python
  require_serial: true

pylint-strategies:
  name: pylint - oteapi/strategies/
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  - --disable=R,C
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --extension-pkg-whitelist='pydantic'
  - --disable=C0415,W0621
  language: python
  require_serial: true

Add test of JPEG 2000 (JP2) parse strategy
  tests/strategies/parse/sample1.jp2
  tests/strategies/parse/sample1_1000_1000.jp2
  tests/strategies/parse/test_jp2.py
Due: pylint-tests

Add test of GIF parse strategy
  tests/strategies/parse/sample_1280_853.gif
  tests/strategies/parse/sample_700_400.gif
  tests/strategies/parse/test_gif.py
Due: pylint-tests

Add test of SFTP download strategy
  requirements_dev.txt
  tests/strategies/download/test_sftp.py
Due: pylint-tests

Add test of PNG parse strategy
  tests/strategies/parse/sample_350_250.png
  tests/strategies/parse/sample_640_426.png
  tests/strategies/parse/test_png.py
Due: pylint-tests

Add test of TIFF parse strategy
  tests/strategies/parse/sample_350_250.tiff
  tests/strategies/parse/sample_640_426.tiff
  tests/strategies/parse/test_tiff.py
Due: pylint-tests

Split up test files
  tests/plugins/test_entry_points.py
  tests/plugins/test_entry_points_entrypointstrategy.py
Due: pylint-tests

Extend tests for collection magic methods
  oteapi/plugins/entry_points.py
  tests/conftest.py
  tests/plugins/test_entry_points_entrypointstrategy.py
  tests/static/strategies/download.py
Due: pylint, pylint-tests

Fully cover `entry_points.py`
  tests/plugins/test_entry_points_entrypointstrategy.py
Due: pylint-tests

Fixup JPEG parse strategy test
  tests/strategies/parse/test_jpeg.py
  tests/strategies/sample_700_400.jpeg
Due: pylint-tests

Add test of crop filter strategy
  oteapi/strategies/filter/crop_filter.py
  tests/strategies/filter/test_crop_filter.py
Due: pylint-strategies, pylint-tests

Add test of plugins loader
  setup.cfg
  tests/strategies/plugins/test_plugins.py
Due: pylint-tests

Use `download_config` for Download strategies
  oteapi/interfaces/idownloadstrategy.py
  oteapi/plugins/factories.py
  oteapi/strategies/download/file.py
  oteapi/strategies/download/https.py
  oteapi/strategies/download/sftp.py
  tests/conftest.py
  tests/plugins/conftest.py
  tests/plugins/test_factories.py
  tests/static/strategies/download.py
Due: pylint, pylint-strategies, pylint-tests

Remove `create_*_strategy()` functions
  oteapi/plugins/factories.py
Due: pylint

Use `parse_config` for Parse strategies
  oteapi/interfaces/iparsestrategy.py
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/excel_xlsx.py
  oteapi/strategies/parse/image_jpeg.py
  oteapi/strategies/parse/text_csv.py
  oteapi/strategies/parse/text_json.py
  tests/strategies/parse/test_text_json.py
Due: pylint, pylint-strategies, pylint-tests

Remove runtime_checkable for interfaces
  oteapi/interfaces/idownloadstrategy.py
  oteapi/interfaces/ifilterstrategy.py
  oteapi/interfaces/imappingstrategy.py
  oteapi/interfaces/iparsestrategy.py
  oteapi/interfaces/iresourcestrategy.py
  oteapi/interfaces/itransformationstrategy.py
Due: pylint

Test correct exceptions are raised
  tests/plugins/test_factories.py
Due: pylint-tests

Add test strategies for all strategy types
  oteapi/plugins/entry_points.py
  tests/plugins/conftest.py
  tests/plugins/test_entry_points_entrypointstrategy.py
  tests/plugins/test_factories.py
  tests/static/strategies/filter.py
  tests/static/strategies/mapping.py
  tests/static/strategies/parse.py
  tests/static/strategies/resource.py
  tests/static/strategies/transformation.py
Due: pylint, pylint-tests

Change transformation_type to transformationType
  oteapi/models/transformationconfig.py
  oteapi/plugins/entry_points.py
  oteapi/strategies/transformation/celery_remote.py
  tests/plugins/test_entry_points.py
Due: pylint, pylint-strategies, pylint-tests

Update docstrings for `get_entry_point`
  oteapi/plugins/entry_points.py
Due: pylint

Update usage of `lru_cache`
  oteapi/plugins/entry_points.py
Due: pylint

Set variable name for better readability
  oteapi/plugins/entry_points.py
Due: pylint

Rewrite the plugins sub-module (#47)
  docs/api_reference/plugins/entry_points.md
  docs/api_reference/plugins/plugins.md
  oteapi/datacache/datacache.py
  oteapi/interfaces/idownloadstrategy.py
  oteapi/interfaces/ifilterstrategy.py
  oteapi/interfaces/imappingstrategy.py
  oteapi/interfaces/iparsestrategy.py
  oteapi/interfaces/iresourcestrategy.py
  oteapi/interfaces/itransformationstrategy.py
  oteapi/models/transformationconfig.py
  oteapi/plugins/__init__.py
  oteapi/plugins/entry_points.py
  oteapi/plugins/factories.py
  oteapi/plugins/plugins.py
  oteapi/strategies/download/file.py
  oteapi/strategies/download/https.py
  oteapi/strategies/download/sftp.py
  oteapi/strategies/filter/crop_filter.py
  oteapi/strategies/filter/sql_query_filter.py
  oteapi/strategies/parse/application_vnd_sqlite.py
  oteapi/strategies/parse/excel_xlsx.py
  oteapi/strategies/parse/image_jpeg.py
  oteapi/strategies/parse/text_json.py
  oteapi/strategies/transformation/celery_remote.py
  setup.cfg
  tasks.py
  tests/conftest.py
  tests/datacache/test_datacache.py
  tests/plugins/conftest.py
  tests/plugins/test_entry_points.py
  tests/plugins/test_entry_points_entrypointstrategy.py
  tests/plugins/test_factories.py
  tests/static/strategies/download.py
  tests/static/strategies/filter.py
  tests/static/strategies/mapping.py
  tests/static/strategies/parse.py
  tests/static/strategies/resource.py
  tests/static/strategies/transformation.py
  tests/strategies/conftest.py
  tests/strategies/parse/test_text_json.py
Due: pylint, pylint-strategies, pylint-tests

Add some dictionary functionality to configuration models (#53)
  docs/api_reference/models/genericconfig.md
  oteapi/models/__init__.py
  oteapi/models/datacacheconfig.py
  oteapi/models/filterconfig.py
  oteapi/models/genericconfig.py
  oteapi/models/mappingconfig.py
  oteapi/models/resourceconfig.py
  oteapi/models/transformationconfig.py
  oteapi/strategies/download/file.py
Due: pylint, pylint-strategies

GenericConfig bugfix
  oteapi/models/genericconfig.py
Due: pylint

Update JPEG and JSON media types
  README.md
  docs/index.md
  setup.cfg
  tests/conftest.py
Due: pylint-tests

Finish merge
  oteapi/strategies/download/file.py
  oteapi/strategies/parse/image.py
  tests/datacache/test_datacache.py
  tests/models/test_resourceconfig.py
  tests/strategies/download/test_file.py
  tests/strategies/download/test_https.py
  tests/strategies/download/test_sftp.py
  tests/strategies/filter/test_crop_filter.py
  tests/strategies/parse/test_application_vnd_sqlite.py
  tests/strategies/parse/test_gif.py
  tests/strategies/parse/test_jp2.py
  tests/strategies/parse/test_jpeg.py
  tests/strategies/parse/test_json.py
  tests/strategies/parse/test_png.py
  tests/strategies/parse/test_tiff.py
  tests/strategies/plugins/test_plugins.py
Due: pylint-strategies, pylint-tests

Add test of GenericConfig/AttrDict
  tests/models/test_genericconfig.py
Due: pylint-tests

Made ResourceConfig.configuration a dict.
  oteapi/models/resourceconfig.py
Due: pylint

Ongoing work
  oteapi/models/genericconfig.py
  oteapi/models/resourceconfig.py
  oteapi/strategies/download/file.py
  oteapi/strategies/parse/excel_xlsx.py
Due: pylint, pylint-strategies

Added test to highlight the issue with **unpacking of AttrDict
  tests/models/test_genericconfig.py
Due: pylint-tests

Added latest update
  oteapi/models/genericconfig.py
  oteapi/strategies/download/file.py
Due: pylint, pylint-strategies

Apply suggestions from code review
  tests/models/test_genericconfig.py
Due: pylint-tests

Update according to review
  oteapi/models/genericconfig.py
  oteapi/models/resourceconfig.py
  oteapi/strategies/parse/excel_xlsx.py
  tests/conftest.py
  tests/models/test_genericconfig.py
Due: pylint, pylint-strategies, pylint-tests

Remove unused import
  oteapi/strategies/download/file.py
Due: pylint-strategies

Added explicit download_config to excel config datamodel
  oteapi/models/__init__.py
  oteapi/strategies/parse/excel_xlsx.py
Due: pylint, pylint-strategies

Silence `no-member` in test
  tests/models/test_genericconfig.py
Due: pylint-tests

Use model for download_config
  oteapi/models/__init__.py
  oteapi/strategies/parse/excel_xlsx.py
Due: pylint, pylint-strategies

Made ResourceConfig.configuration a dict (#67)
  oteapi/models/__init__.py
  oteapi/models/genericconfig.py
  oteapi/models/resourceconfig.py
  oteapi/strategies/download/file.py
  oteapi/strategies/parse/excel_xlsx.py
  tests/conftest.py
  tests/models/test_genericconfig.py
Due: pylint, pylint-strategies, pylint-tests

test_resourceconfig.py: Move import back into test
  tests/models/test_resourceconfig.py
Due: pylint-tests

Fixup test of JSON parse strategy
  tests/strategies/parse/test_application_json.py
Due: pylint-tests

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^(tests|oteapi/strategies)/.*$)
  pylint-strategies: any of: ^oteapi/strategies/.*$ and \.py$
  pylint-tests: any of: ^tests/.*$ and \.py$
